<md-dialog aria-label="New Todo Category"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Todo Category</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountTypeName.$dirty && nameDialog.accountTypeName.$invalid]">
            <label class="control-label" for="course">Category Name</label>
            <input type="text" class="form-control" name="todoCatName" id="accountTypeName" ng-model="data.title" ng-keyup="hitEnter($event)" required md-autofocus>
          </div>
          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountBillingCycle.$dirty && nameDialog.accountBillingCycle.$invalid]">
            <label class="control-label" for="course">Billing Cycle (in Months):</label>
            <input type="number" class="form-control" name="accountBillingCycle" id="accountBillingCycle" ng-model="data.accountBillingCycle" ng-keyup="hitEnter($event)" required  >
          </div>
          <div class="form-group input-group-md" ng-class="{true: \'has-error\'}[nameDialog.accountTypeUsers.$dirty && nameDialog.accountTypeUsers.$invalid]">
            <label class="control-label" for="course">Max Users </label>
            <input type="number" class="form-control" name="accountTypeUsers" id="accountTypeUsers" ng-model="data.accountTypeUsers" ng-keyup="hitEnter($event)" required>
          </div> -->
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>


<!-- <div class="modal-header">
  <h4 class="modal-title"><span class="glyphicon glyphicon-star"></span>
  </h4>
</div>
<div class="modal-body">

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button> <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Save</button>
</div> -->
