<section>
    <!-- <div class="page-header"> -->
    <div class="row titleRow">
      <div class="col-md-12">
        <p class="pageTitle txt-color-blueDark"><i class="fa-fw fa fa-folder-o"></i> Account Types </p>
      </div>
      <!-- <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div> -->
    </div>
  <!-- </div> -->

  <!-- <div class="page-header">
    <h1>Articles</h1>
  </div> -->
<!-- widget grid -->
<div class="row" style="padding-bottom: 20px;">
<div class="col-lg-12 text-center">
    <md-button class="md-primary md-raised" ng-click="vm.createAccountType($event)" flex="30" flex-gt-md="auto">
      <i class="fa-fw fa fa-folder-o"></i>  &nbsp; New Account Type
    </md-button>
</div>

</div>

<div class="row ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 admin-table-wrapper">
    <table datatable ="ng" class="admin-table display" id="user-data-table" cellspacing="0" width="100%">
      <thead>
          <tr class="">
            <th><h4 class="text-center"> Name </h4></th>
            <th><h4 class="text-center"> Users Permitted </h4></th>
            <th><h4 class="text-center"> Billing Cycle (in months) </h4></th>
            <th><h4 class="text-center"> Status </h4></th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="accountType in vm.accountTypes">
          <td ng-bind="accountType.title"> </td>
          <td class="text-center" ng-bind="accountType.max_users"> </td>
          <td  class="text-center" ng-bind="accountType.billing_cycle"></td>
          <td class="text-center">
            <md-button class="md-icon-button" aria-label ="Toggle Account Status" ng-click="vm.toggleStatus($event, accountType)">
              <i class="mdi md-18 mdi-checkbox-blank-outline txt-color-blueLight" ng-if="accountType.active == 1"></i>
              <i class="mdi md-18 mdi-checkbox-marked-outline txt-color-blueLight" ng-if="accountType.active != 1"></i>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="alert alert-warning text-center" ng-if="vm.articles.$resolved && !vm.articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
