<section ng-cloak>
<div class="row">
        <div class="col-md-12">
        <!-- <h4></h4> -->
          <table class="plan-table table table-hover quarter-table">
          <thead>
            <tr class="">
                <th colspan="3"> <a ui-sref = "{{type}}spear">  <h5 class="title">Quarterly Spear</h5></a> </th>
                <th> <!-- <h4 class="pull-right">Status</h4> --> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='(i, goal) in goals ' style="height: 50px;" on-finish-render="ngRepeatFinished">
              <td ng-bind ="i+1"></td>
              <td>
              <!-- <chartist class="ct-chart quarter" chartist-data="goal.chartdata" chartist-chart-type="Pie" chartist-chart-options="pieOptions"></chartist> -->
              {{goal.progress}}%
              </td>
              <td ng-class="{'plan_done': !goal.active}">
                {{goal.title}}
                  <!-- <a href="#" editable-text="goal.title" buttons="no"
                  onbeforesave="updatePlan(goal, $data)" ng-bind = "goal.title || 'New Plan'">
                  </a> -->
              </td>
              <td class="" style="width: 20px;">
                <div class="pull-right row-button">

                  <md-button class="md-icon-button" aria-label="Toggle Done" ng-click ="toggleCheck(goal)">
                    <i class="mdi md-18 mdi-checkbox-marked-outline txt-color-blueLight" ng-if="!goal.active"></i>
                    <i class="mdi md-18 mdi-checkbox-blank-outline txt-color-blueLight" ng-if="goal.active"></i>
                    <md-tooltip>Toggle Done</md-tooltip>
                  </md-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
</section>
