<md-dialog aria-label="Edit Goal"  ng-cloak flex="66" style="min-width: 55%;max-width: 710px;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="capitalize">Edit {{type}} Goal</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.goalTitle.$dirty && nameDialog.goalTitle.$invalid]">
          <div class="row">
          <div class="col-md-5 col-xs-12">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
              <!-- <label class="control-label" for="course">Description</label> -->
              <p><b>Description</b></p>
              <textarea rows = "4" class="form-control" name='goalTitle' id='goalTitle' ng-model = goal.title md-autofocus md-placeholder="What's to-do? "></textarea>
            </div>

          </div>
          <div class="col-md-4 col-xs-12 col-sm-6" style="max-width: 210px;">
            <p><b>Information</b></p>
            <table>
              <tr ng-hide = true>
                <td>Due</td>
                <td style="padding-bottom: 4px;">
                  <input class="form-control" pikaday="myPickerObject" ng-model="todo.due_by" style="width: 140px;">
                </td>
              </tr>
            </table>
            <table style="clear: both;">
              <tr >
                <td > Mark Completed</td>
                <td class="pull-right">
                  <md-button class="md-icon-button" style="margin: 0px" ng-click="markDone()"><i class="mdi md-24" ng-class="goal.active?'mdi-checkbox-blank-outline': 'mdi-checkbox-marked-outline'"></i></md-button></td>
              </tr>
              <tr>
                <td> Delete Task</td>
                <td class="pull-right" ng-include = "'/modules/todo/client/views/delete-todo-menu.client.view.html'"></td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-6" style="width: 180px;">
              <p><b>Activity</b></p>
            <table>
              <tr>
                <td> Copy Task</td>
                <td class="pull-right" ng-include = "'/modules/todo/client/views/copy-todo-menu.client.view.html'"></td>
              </tr>
              <tr><td> Add to Calender </td>
              <td class="pull-right" ng-include = "'/modules/todo/client/views/calendar-todo-menu.client.view.html'"></td>
              </tr>
            </table>
            </div>
          </div>

            <!-- <label class="control-label" for="course">Goal Title</label> -->
            <!-- <textarea rows = "2" class="form-control" name='goalTitle' id='goalTitle' ng-model = goal.title md-autofocus md-placeholder="What's to-do? "></textarea> -->
            <!-- <input type="text" class="form-control" name="goalTitle" id="goalTitle" ng-model="goal.title" ng-keyup="hitEnter($event)" required autofocus> -->
          </div>
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
