<section ng-cloak>
<div ng-controller="QuarterGoalsController">
<!-- <div ng-controller="TodoController as vm" goal="true"> -->
<div class="row">
  <div class="col-md-12 todoDnd">
  <table class="plan-table table table-hover {{ type }}-table">
      <thead>
          <tr class="">
          <th class="{{type}} uppercase" colspan="2"><h5 class="strong">{{getTypely()}} Goals <span>
    <!-- <md-button class="md-icon-button pull-right" aria-label="Add Goal" ng-click="vm.addGoalPlan()">
      <i class="fa fa-plus fa-lg txt-color-black"></i><md-tooltip>Add Plan</md-tooltip>
    </md-button> -->
    </th>
      <th class="{{type}}">
    <md-button ui-sref= '{{type}}Planner' class="md-icon-button pull-right add-button" aria-label="Add Goal">
      <i class="mdi md-24 mdi-auto-fix"></i><md-tooltip>Edit Goal</md-tooltip></md-button></span></h5>
          </th>
        </tr>
        </thead>
      </table>
        <ul dnd-list = "goals" dnd-drop = "dropCallback(event,index,item)" class="plan-table">
          <li ng-animate="'animate'" class="" ng-repeat="(i, goal) in goals" style="min-height: 50px;"
          dnd-draggable = "goal" dnd-moved = "" dnd-effect-allowed = "move">
            <div class="row">
          <div class="col-md-1 col-xs-1" style="line-height: 45px;">{{i+1}}
          </div>
            <div class="col-md-8 col-xs-7">
              <!-- <a href="#" editable-text="goal.title" buttons="no" onbeforesave="updateGoal(goal, $data)" ng-bind = "goal.title| limitTo: 70 || 'New Goal'"></a> -->
              <a href="#" ng-click="editGoal(goal)"> {{goal.title |limitTo:90 || 'New Goal'}} {{goal.title.length > 90 ? '&hellip;' : ''}} </a>
              <!-- <div ng-init="todo=goal" ng-include ="'modules/todo/client/views/editinplace-todo.client.template.html'"></div> -->
            </div>
            <div class="col-md-3 col-xs-4 pull-right row-button">
                <!-- <p>Progress</p> -->

                <md-input-container class="md-block" style="margin: 0px;" flex-gt-sm >
                <!-- <label>Progress</label> -->
                <md-select class="pull-left" ng-model="goal.progress" aria-label="progress">
                  <md-option ng-repeat="val in progressVals" value="{{val}}">
                    {{ val }} %
                  </md-option>
                </md-select>
                <md-button class="md-icon-button pull-right" aria-label ="Delete Goal" ng-click="deleteGoal(goal)">

                <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
              <md-tooltip>Delete Goal</md-tooltip>
            </md-button>
              </md-input-container>

            </div>
          </div>
          </li>
        </ul>

    <!-- <h4>Goals/Plan <span> -->
    <!-- Show analysis button works in the scope of the home view. -->
    <!-- <md-button class="md-icon-button pull-right" aria-label="Show Analyse" ng-click="toggleAnalysisView()">
      <i class="fa fa-tasks fa-lg txt-color-red"></i><md-tooltip>Analyse/Realign</md-tooltip>
    </md-button> -->
    <!-- Show analysis button works in the scope of the home view. -->
    <!-- </md-button> -->
    <!-- </span></h4> -->
    <!-- <md-progress-linear md-mode="determinate" class="{{ vm.type }}" value="{{progress}}"></md-progress-linear> -->

    </div>
</div>
<!-- <div class="row"> -->
  <!-- <div class="col-md-12"> -->
    <!-- <ul class="list-group">
      <li class="list-group-item" ng-repeat="goal in goals" ng-click ="vm.showGoalPlans(goal)">
      <div class="row">
    <div class="col-md-3"> -->
    <!-- <md-slider testDragEnd flex min="0" max="100" ng-model="goal.progress" aria-label="progress" id="progress-slider"></md-slider> -->
    <!-- </div>
      $scope.goals('dropped at',event,index);</div>
          </li> -->
    <!-- </ul> -->
    <!-- <p ng-bind="goal.title"></p> -->
  <!-- </div> -->

  <!-- <div class="col-md-12 todoDnd" ng-cloak> -->

    <!-- <table class="plan-table table table-hover {{ vm.class }}-table">
      <tbody>
      <tr ng-repeat='(i, todo) in vm.todos ' style="height: 50px;" on-finish-render="ngRepeatFinished">
        <td style="width: 34px;" ng-bind ="i+1"></td>
        <td ng-class="{'plan_done': todo.status}" >
            <a href="#" editable-text="todo.title" buttons="no"
            onbeforesave="updatePlan(todo, $data)" ng-bind = "todo.title || 'New Plan'">
            </a>
        </td>
        <td class="" style="width: 220px;">
          <div class="pull-right row-button">

            <md-button class="md-icon-button" aria-label="Toggle Done" ng-click ="toggleCheck(todo)">
              <i class="fa fa-fw fa-check txt-color-blueLight" ng-if="!todo.active"></i>
              <i class="fa fa-fw fa-square-o txt-color-blueLight" ng-if="todo.active"></i>
              <md-tooltip>Toggle Done</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label ="Delete Plan" ng-click="deletePlan(todo)">
                <i class="fa fa-fw fa-trash-o txt-color-red"></i>
              <md-tooltip>Delete Plan</md-tooltip>
            </md-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table> -->
<!--     <ul dnd-list = "vm.todos" dnd-drop="dropCallback(event, index, item)" class="plan-table">
      <li ng-repeat='(i, todo) in vm.todos ' style="height: 50px;" on-finish-render="ngRepeatFinished"
        dnd-draggable="todo"
        dnd-moved=""
        dnd-effect-allowed="move"
        >
        <a href="#" editable-text="todo.title" buttons="no" onbeforesave="updatePlan(todo, $data)"> {{todo.title || 'New Plan' }} </a>
        <div class="pull-right row-button">

            <md-datepicker ng-model="todo.delegate_reminder" ng-change = "updateDueBy(todo)" md-placeholder="Remind on"></md-datepicker>

          <md-button class="md-icon-button" aria-label="Toggle Done" ng-click ="toggleCheck(todo)">
            <i class="fa fa-fw fa-check txt-color-blueLight" ng-if="!todo.active"></i>
            <i class="fa fa-fw fa-square-o txt-color-blueLight" ng-if="todo.active"></i>
            <md-tooltip>Toggle Done</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label =  "Add to Google Calender"
          ng-click="addToCalender(todo)">
              <i class="fa fa-fw fa-calendar txt-color-green"></i>
            <md-tooltip>Add to Google Calender</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label ="Delete Plan" ng-click="deletePlan(todo)">
              <i class="fa fa-fw fa-trash-o txt-color-red"></i>
            <md-tooltip>Delete Plan</md-tooltip>
          </md-button>
        </div>
      </li>

    </ul>


    <h4 ng-if ="vm.todos.length == 0" class="text-center"> Select a Goal to see the plans for it..</h4> -->
  <!-- </div> -->

  <!-- <h4 ng-if ="goals.length == 0" class="text-center"> No goals Made Yet. Start with the Plus button Above.</h4> -->
  <!-- </div> -->
<!-- </div> -->
<!-- </div> -->
</div>
</section>
