<md-dialog aria-label="New Goal"  ng-cloak flex="66" style="min-width: 50%;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="capitalize">{{type}} Goal Wizzard</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4 class="text-center">Start with a Goal you'd like to achive</h4>
        <!-- <p class="text-center">Fill up six Plan tasks to go about achiving that Goal.</p> -->
        <p class="text-center">You can add Plan tasks later on.</p>

        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.goalTitle.$dirty && nameDialog.goalTitle.$invalid]">
            <label class="control-label" for="course">Goal Title</label>
            <input type="text" class="form-control" name="goalTitle" id="goalTitle" ng-model="data.goalTitle" ng-keyup="hitEnter($event)" required md-autofocus>
          </div>
        <!-- <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12">

          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.title1.$dirty && nameDialog.title1.$invalid]">
            <label class="control-label" for="course">Plan 1:</label>
            <input type="text" class="form-control" name="title1" id="title1" ng-model="data.title1" ng-keyup="hitEnter($event)" required>
          </div>

          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.title2.$dirty && nameDialog.title2.$invalid]">
            <label class="control-label" for="course">Plan 2:</label>
            <input type="text" class="form-control" name="title2" id="title2" ng-model="data.title2" ng-keyup="hitEnter($event)" required>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.title3.$dirty && nameDialog.title3.$invalid]">
            <label class="control-label" for="course">Plan 3:</label>
            <input type="text" class="form-control" name="title3" id="title3" ng-model="data.title3" ng-keyup="hitEnter($event)" required>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">

          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.title4.$dirty && nameDialog.title4.$invalid]">
            <label class="control-label" for="course">Plan 4:</label>
            <input type="text" class="form-control" name="title4" id="title4" ng-model="data.title4" ng-keyup="hitEnter($event)" required>
          </div>

          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.title5.$dirty && nameDialog.title5.$invalid]">
            <label class="control-label" for="course">Plan 5:</label>
            <input type="text" class="form-control" name="title5" id="title5" ng-model="data.title5" ng-keyup="hitEnter($event)" required>
          </div>

          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.title6.$dirty && nameDialog.title6.$invalid]">
            <label class="control-label" for="course">Plan 6:</label>
            <input type="text" class="form-control" name="title6" id="title6" ng-model="data.title6" ng-keyup="hitEnter($event)" required>
          </div>
          </div>
          </div> -->
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
