<section ng-cloak>
<div ng-controller="QuarterGoalsController" prev= "true" >
<div ng-controller="TodoController as vm" goal="true">
<table class="table table-hover {{ type }}-table-last">
  <thead>
    <tr class="">
    <th colspan="2" class=""><h5> Quarterly Spear </h5></th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(i, goal) in goals">
      <td class="number_column">{{i+1}}</td>    
      <td> {{goal.title}}</td>
    </tr>
  </tbody>
</table>
<!-- <div class="row">
  <div class="col-md-12">
    <ul class="list-inline">
      <li class="list-group-item" ng-repeat="goal in goals" ng-click ="vm.showGoalPlans(goal)"> {{goal.title | limitTo:10}}...  </li>
    </ul>
  </div>
  </div>
 -->
<!-- <div class="row">
  <div class="col-md-12" ng-cloak>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{vm.goal.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='(i, todo) in vm.todos '>
        <td> {{todo.title }} </td>
      </tr>
    </tbody>
  </table>
    <ul class="plan-table">
      <li class="list-group-item" ng-repeat='(i, todo) in vm.todos ' style="height: 50px;" on-finish-render="ngRepeatFinished">
      </li>
      
    </ul>


    <h4 ng-if ="vm.todos.length == 0" class="text-center"> Select a Goal to see the plans for it..</h4>
  </div>

</div> -->
</div>
</div>
</section>
