<section ng-cloak>
<div ng-controller="QuarterGoalsController">
<!-- <div ng-controller="TodoController as vm" goal="true"> -->
<div class="row">
  <div class="col-md-12">
  <table class="plan-table table table-hover {{ type }}-table">
      <thead>
        <tr class="">
          <th class="{{type}} uppercase" colspan="2">
            <h5 class="strong">{{getTypely()}} Goals <span></span></h5>
          </th>
          <th class="{{type}}"></th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "(i, goal) in goals">
          <td class = "number_column"> {{i+1}} </td>
            <td> <div class = "report-table-row"> {{goal.title}}</div> </td>
            <td class = "">
                {{goal.progress}}
            </td>
          </tr>
        </tbody>
        </table>
    </div>
</div>
</div>
</section>
