<section ng-controller="SpearController as vm">
<div ng-include = "'modules/spear/client/views/spear-report-header.client.template.html'"></div>
  <!-- <div ui-view></div> -->

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>

  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="{{vm.spearUpType() == 'annual'?50:40}}" flex-gt-md="{{vm.spearUpType() == 'annual'?50:40}}" layout >
  <md-whiteframe class="md-whiteframe-3dp spearframe">
    <table class="plan-table table table-hover {{vm.spearUpType() =='3 year'? 'annual' : vm.spearUpType()}}-table">
      <thead>
      <tr class="">
          <th colspan="3">
            <h5 class="uppercase" ng-if="type == 'annual'">Annual Goals</h5>
          </th>
          <!-- <th> </th> -->
      </tr>
      </thead>
      <tbody ng-controller="QuarterGoalsController" ng-cloak ng-show = "type == 'annual'">
        <tr ng-repeat='(i, goal) in goals ' style="height: 50px;">
          <td class="number_column">{{i+1}}</td>
          <td ng-class="{'plan_done': goal.status}"> <div class="report-table-row">{{goal.title}}</div>
          </td>
          <td class="pull-right">{{goal.progress}}%</td>
        </tr>
      </tbody>
    </table>
  </md-whiteframe>
  </div>


  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="{{vm.spearUpType() == 'annual'?50:60}}" flex-gt-md="{{vm.spearUpType() == 'annual'?50:60}}" layout>
    <md-whiteframe class="md-whiteframe-3dp spearframe">

      <div ng-show = "type == 'annual'" ng-controller="AnalysisRealignsController as vmAnaRel" ng-include = "'modules/analysis-realigns/client/views/reports-annual-analysis-realigns.client.template.html'"></div>

      <!-- Spear Table -->
    </md-whiteframe>
  </div>
</div>


<!-- end of the current Spear -->

<!-- displaying the previous spear and the spear up. -->

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>
  <!-- the second row  here we display the previous spear -->
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>
  <md-whiteframe class = "md-whiteframe-3dp" ng-if = "type == 'annual'" >
    <h5 class="prevSpear statsTitle">Quarter Analyze and Realign</h5>
    <div class="row">
      <div class = "col-md-3" ng-repeat = "i in range4" >
        <table class="table table-hover quarter-analyse-table-last">
          <thead>
            <tr class="">
              <th class=""><h5> Quarter {{(i+1)}} Spear </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th> Goals</th></tr>
            <tr ng-repeat='goal in vm.downData[i].goals'>
              <td class="">
              {{ goal.title }}</td>
            </tr>
            <tr><th> Successes</th></tr>
            <tr ng-repeat='analysis in vm.downData[i].anaRels.analysisSuccess'>
              <td class="">
              <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline"></i> &nbsp;
              {{ analysis.title }}</td>
            </tr>
            <tr><th> Failures</th></tr>
            <tr ng-repeat='analysis in vm.downData[i].anaRels.analysisFailure'>
              <td class="">
                <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline"></i> &nbsp;{{analysis.title}}
              </td>
            </tr>
            <tr><th> Realigns </th></tr>
            <tr ng-repeat='analysis in vm.downData[i].anaRels.realign'>
              <td class="">
                <i class="mdi mdi-18"></i> &nbsp;{{analysis.title}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-whiteframe>
  </div>
  </div>

</section>
