<div class="row titleRow">
  <div class="col-md-5 col-sm-6 col-xs-9" style="    max-width: 300px;
    padding-right: 0px;">
    <p class="pageTitle">
      <a ui-sref = 'home'><i class="mdi md-24 mdi-home"></i> </a>  Realignment Report</p>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left: 0px;">
      <!-- <span class="uppercase">
    </span></p> -->
      <md-menu class="buttonMenu ">
        <md-button aria-label="Open phone interactions menu" class="md-raised" ng-click="openMenu($mdOpenMenu, $event)" style="margin-bottom: 0px;"> <span class="pageTitle" style="color: black">{{ getTypely() }}</span>
          <i class="mdi md-24 mdi-chevron-down"> </i>
        </md-button>
        <md-menu-content width="2" class="buttonMenu">
          <md-menu-item>
            <md-button class="md-primary anchor-button" aria-label =  "Select Report Type" style="" ui-sref = "dailyReports">
              <i class="mdi md-18 mdi-view-day "> Daily </i>
            </md-button>
          </md-menu-item>
          <md-menu-item >
            <md-button class="md-primary anchor-button" aria-label ="Select Report Type" ui-sref="weeklyReports" style="">
                <i class="mdi md-18 mdi-view-column"> Weekly </i>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button class="md-primary anchor-button" aria-label =  "Select Report Type" style="" ui-sref="monthlyReports">
              <i class="mdi md-18 mdi-view-column "> Month </i>
            </md-button>
          </md-menu-item>
          <md-menu-item >
            <md-button class="md-primary anchor-button" aria-label ="Select Report Type" ui-sref="quarterReports" style="">
                <i class="mdi md-18 mdi-view-grid"> Quarter </i>
            </md-button>
          </md-menu-item>
          <md-menu-item >
            <md-button class="md-primary anchor-button" aria-label ="Select Report Type" ui-sref="annualReports" style="">
                <i class="mdi md-18 mdi-view-module"> Annual </i>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </div>
  <div class="col-md-4 col-sm-5 col-xs-10 text-center" style="min-width: 320px;">
    <div style="border-radius:10px;" ng-include ="'modules/spear/client/views/spear-navigator.client.template.html'">
    </div>
  </div>
  <div class="col-md-2 col-sm-1 col-sm-offset-0 col-xs-1" style=""
  >
    <!-- <div class="pull-left">
      <input type="text" ng-model="selected" uib-typeahead="user.email for user in vm.users | filter:$viewValue | limitTo:8" class="form-control">
    </div>     -->

    <md-button class="md-icon-button" aria-label ="Delete Plan" ng-click="vm.shareReport()" style="text-align: center;">
        <i class="mdi md-24 mdi-send"></i>
      <md-tooltip> Share </md-tooltip>
    </md-button>

    <!-- <md-button class="md-icon-button pull-right" aria-label ="Delete Plan" ng-click="" style="text-align: center;">
        <i class="mdi md-24 mdi-file-pdf"></i>
      <md-tooltip> Download Pdf </md-tooltip>
    </md-button> -->
  <!--  ng-include ="'modules/spear/client/views/spear-progress.client.template.html'" -->
  </div>
</div>
