<md-dialog aria-label="New Todo" flex="66" style="min-width: 37%;max-width: 40%;">
  <!-- <form> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Share Reports</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="nameDialog" novalidate role="form" class="minPadding">
        <div class="row">
        <div class="col-md-7">

          <div class="pull-left">
            <p>Recipient's Email</p>
            <input type="text" ng-model="email" md-autofocus uib-typeahead="user.email for user in users | filter:$viewValue | limitTo:8" class="form-control" style="min-width: 250px;">

          </div>
        </div>
          <div class="col-md-3" style="margin-top: 35px;">
            Send Email
          </div>
          <div class="col-md-1">
            <md-button class="md-icon-button pull-right" aria-label ="Delete Plan" ng-click="selectAction('email')" style="text-align: center; margin-top: 20px;"><i class="mdi md-24 mdi-email"></i>
              <md-tooltip> Send </md-tooltip>
            </md-button>
          </div>
          </div>
          <!-- <p></p> -->

          <!-- </div> -->
        <!-- </div> -->
          <!-- <br/> -->
          <div class="row">
          <div class="col-md-offset-7 col-md-3" style="line-height: 40px;">
            Download PDF
          </div>
          <div class="col-md-1">
            <a class="md-icon-button md-button pull-right" aria-label ="Download Pdf" target="_self" href="api/reports?date={{data.date}}&type={{data.type}}&prev={{data.prev}}" download="report.pdf" ng-click ="hide()"  style="text-align: center;">
              <i class="mdi md-24 mdi-file-pdf"></i>
              <md-tooltip> Download Pdf </md-tooltip>
            </a>

          </div>
          </div>
          <!-- ng-click="selectAction('download')" -->

          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.description.$dirty && nameDialog.description.$invalid]">
            <label class="control-label" for="course">Description:</label>
            <input type="text" class="form-control" name="description" id="description" autofocus ng-model="data.description" ng-keyup="hitEnter($event)" required>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.calendar.$touched && nameDialog.calendar.$invalid]">
            <label class="control-label" for="course">Calendar:</label>
            <select class="form-control" name="calendar" id="calendar" ng-model="data.calendar" ng-keyup="hitEnter($event)" required ng-options="opt as opt.summary for opt in calendars" ></select>
          </div> -->
          <!-- <div class="row">
            <div class="col-md-4 col-xs-12">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.date.$dirty && nameDialog.date.$invalid]">
            <label class="control-label" for="course">On:</label>
            <md-datepicker name="date" id="date" ng-model="data.date" ng-change = "dateChanged()" md-placeholder="Pick a Date"></md-datepicker>
          </div>
          </div>
            <div class="col-md-4 col-xs-12">
              <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.start.$dirty && nameDialog.start.$invalid]">
                <label class="control-label" for="course">Start:</label>
                <uib-timepicker ng-model="data.start" ng-change = "startChanged()" hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.end.$dirty && nameDialog.end.$invalid]">
                <label class="control-label" for="course">End:</label>
                <uib-timepicker ng-model="data.end"  hour-step="1" minute-step="15" show-meridian="true"></uib-timepicker>
              </div>
            </div>
          </div> -->
        <p class="text-center color-red" ng-bind="errors"></p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <!-- <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button> -->
    </md-dialog-actions>
  </form>
</md-dialog>
