<!-- <form name="datepickerForm" class="form-inline" role="form"> -->
  <!-- Basic example -->
  <!-- <div class="form-group" ng-class=""> -->
<md-button class="md-icon-button" aria-label="Previous Spear" ng-click="vm.prevSpear()"><i class="mdi md-24 mdi-chevron-left"></i><md-tooltip>Previous Period</md-tooltip></md-button>
  <!-- </div> -->
  <!-- Custom example -->
  <!-- <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}"> -->
    <input type="text" class="form-control date-picker" pikaday="navigation" ng-model="vm.date" ng-change = "vm.dateChanged()" data-date-type="number" name="date2"  style="display: inline; width: 135px;">
  <!-- </div> -->
  <!-- <div class="form-group" ng-class=""> -->
<md-button class="md-icon-button" aria-label="Next Spear" ng-click="vm.nextSpear()"><i class="mdi md-24 mdi-chevron-right"></i><md-tooltip>Next Period</md-tooltip></md-button>
  <!-- </div> -->
<!-- </form> -->


<!-- <md-button class="md-icon-button" aria-label="Previous Spear" ng-click="vm.prevSpear()"><i class="mdi md-24 mdi-chevron-left"></i><md-tooltip>Previous Period</md-tooltip></md-button> -->
<!-- <md-datepicker style="background-color: inherit;" ng-model="vm.date" ng-change = "vm.dateChanged()" md-placeholder="Enter date" md-date-filter="dateFilterPredicate" id="datePicker"></md-datepicker> -->
<!-- <span> -->
<!-- <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}"> -->
    <!-- <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as number)</small></label> -->
 <!-- <input type="text" class="form-control" ng-model="vm.date" ng-change = "vm.dateChanged()" name="date" bs-datepicker> -->
    
    <!-- <input type="text" class="form-control" ng-model="vm.date" ng-change = "vm.dateChanged()" data-date-format="yyyy-MM-dd" data-date-type="number" data-autoclose="1" name="date2" bs-datepicker> -->
  <!-- </div> -->
<!-- </span> -->

<!-- <md-button class="md-icon-button" aria-label="Next Spear" ng-click="vm.nextSpear()"><i class="mdi md-24 mdi-chevron-right"></i><md-tooltip>Next Period</md-tooltip></md-button> -->