<div ng-hide="type == 'annual'">
      <h4 style="margin-bottom: 3px;"> <span class="capitalize">{{type}} </span> {{type_num}} of {{type_max}}</h4>
      <md-progress-linear md-mode="determinate" class="{{ type }}" value="{{ progress}}"></md-progress-linear>    
    </div>