<section ng-controller="SpearController as vm">
<div ng-controller="QuarterGoalsController">
<div class="row titleRow">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <p class="pageTitle"> <a ui-sref = "{{vm.type ==='quarter'? 'quarterspear': 'annualspear'}}"><i class="fa fa-fw fa-chevron-left"></i> </a>{{ getTypely() }} Planning</p>
  </div>
<!-- </div> -->
<!-- <div class="row" style="padding-top:10px;"> -->
  <div class="col-md-4 col-md-offset-0 col-sm-offset-0 col-sm-6 col-xs-12 text-center" style="">
  <div style=" border-radius:10px;" ng-include ="'modules/spear/client/views/spear-navigator.client.template.html'">
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-10" style="" ng-include ="'modules/spear/client/views/spear-progress.client.template.html'">
  </div>
  <div class="col-md-1 col-sm-6 col-xs-2 text-center {{ type }}-spear" style="margin-top: 5px">
    <md-button class="md-icon-button add-button" ng-disabled = "goals.length>3" aria-label="Add Goal" ng-click="addGoal()">
      <i class="mdi md-24 mdi-plus"></i>
      <md-tooltip>New Goal</md-tooltip>
    </md-button>
  </div>
</div>

<div class="row {{ type }}-spear" style="padding-top:10px;" >

</div>

  <div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak >
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="50" flex-gt-md="50" layout ng-repeat='(i, goal_g) in goals'>
    <md-whiteframe class="md-whiteframe-3dp spearframe todoDnd" ng-controller="TodoController as vm" goal="true" ng-init="init(goal_g)">
      <table class="plan-table table table-hover {{ type }}-table">
      <thead>
          <tr class="">
          <th class="{{type}} uppercase" colspan="3"><h5>Goal {{i+1}}
          <a href="#" ng-click="editGoal(goal_g)"> {{goal_g.title || 'New Plan' }}</a>
          <!-- <a href="#" editable-text="goal_g.title" buttons="no" onbeforesave="updateGoal(goal_g, $data)"> {{goal_g.title || 'New Plan' }}</a> -->
        <span>
            <md-button class="md-icon-button pull-right add-button" aria-label="Add Plan" ng-click="vm.addGoalPlan()">
              <i class="mdi md-24 mdi-plus"></i><md-tooltip>Add Plan</md-tooltip>
            </md-button>
            <!-- <md-button class="md-icon-button pull-right" aria-label ="Delete Goal" ng-click="deleteGoal(goal_g)">
                <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
              <md-tooltip>Delete Goal</md-tooltip>
            </md-button> -->
          </span></h5>
          </th>
        </tr>
        </thead>
        </table>
        <ul dnd-list = "vm.todos" dnd-drop="dropCallback(event, index, item)" class="plan-table list-group">
      <li ng-repeat='(i, todo) in vm.todos ' class="list-group-item  clearfix" style="min-height: 50px;" on-finish-render="ngRepeatFinished"
        dnd-draggable="todo"
        dnd-moved=""
        dnd-effect-allowed="move"
        ng-class="{'plan_done': todo.active !=1 }"
        >
        <div class="row">
          <div class="col-md-6 col-xs-6" ng-include ="'modules/todo/client/views/editinplace-todo.client.template.html'">
          </div>
          <div class="col-md-6 col-xs-6">
        <div class="pull-right row-button">

        <input pikaday="myPickerObject" ng-model="todo.due_by" aria-label="remiderDate" ng-change = "updatePlan(todo, $data)" type="text" class="form-control date-picker shortDate" placeholder="Remind on" style="max-width: 133px; float: left;">

            <!-- <md-datepicker ng-model="todo.due_by" class="shortDate" ng-change = "updatePlan(todo, $data)" md-placeholder="Remind on"></md-datepicker> -->

          <!-- <div class="pull-right" ng-include="'modules/todo/client/views/dropdown-button-todo.client.template.html'"></div> -->
          <div class="pull-right">
            <md-menu class="buttonMenu" md-offset="-20 50">
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <i class="mdi md-18 mdi-dots-vertical"></i>
                        <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
                      </md-button>
                      <md-menu-content width="2" class="buttonMenu">
                      <md-menu-item>

                <md-button class="md-button" aria-label="Toggle Done"
                ng-click ="toggleCheck(todo)"> Mark Completed
                  <i class="mdi md-18 pull-right margin_left" ng-class = "todo.active?'mdi-checkbox-blank-outline':'mdi-checkbox-marked-outline'" style="line-height: 36px;"></i>
                  </md-button>

                      </md-menu-item>
                        <md-menu-item>
                        <md-button class="md-button" aria-label =  "Copy to .."
                  ng-click="copyPalnPopoup(todo)"> Copy to
                      <i class="mdi mdi-content-copy pull-right margin_left" style="line-height: 36px;"></i>
                  </md-button>

                    <!-- <copy-button todo = "todo" on-edit="copyPalnPopoup(todo)"></copy-button> -->

                        </md-menu-item>
                        <md-menu-item>
                    <md-button class="md-button" aria-label =  "Add to Google Calender"
                    ng-click="addToCalender(todo)"> Add to Calender
                        <i class="mdi md-18 mdi-calendar-plus pull-right margin_left" style="line-height: 36px;"></i>
                    </md-button>
                        </md-menu-item>
                        <md-menu-item >
                    <md-button class="md-button" aria-label ="Delete Plan" ng-click="deletePlanConfirm(todo)"> Delete Plan
                        <i class="mdi md-18 mdi-delete-variant pull-right margin_left" style="line-height: 36px;"></i>
                    </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
          </div>
        </div>

          </div>
        </div>
      </li>

    </ul>


      <!-- Spear Table -->
    </md-whiteframe>
  </div>
  </div>
  </div>
</section>
