<section ng-controller="SpearController as vm">
<div ng-include = "'modules/spear/client/views/spear-header.client.template.html'"></div>

  <div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="50" flex-gt-md="50" layout>
    <md-whiteframe class="md-whiteframe-3dp spearframe">

      <div ng-show = "type == 'week' || type == 'day'" ng-controller="TodoController as vm" ng-include = "'modules/todo/client/views/home-todo.client.view.html'"></div>
      <!-- <div ng-show = "type == 'quarter' || type == 'annual'" ng-include = "'modules/quarter-goals/client/views/home-quarterGoals.client.view.html'"></div> -->
      <!-- Spear Table -->
    </md-whiteframe>
  </div>
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="50" flex-gt-sm="25" flex-gt-md="25" layout ng-controller="AnalysisRealignsController as vmAnaRel">

     <md-whiteframe class="md-whiteframe-3dp" ng-include = "'modules/analysis-realigns/client/views/analysis.client.template.html'"></md-whiteframe>
     </div>
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="50" flex-gt-sm="25" flex-gt-md="25" layout ng-controller="AnalysisRealignsController as vmAnaRel">
     <md-whiteframe class="md-whiteframe-3dp" ng-include = "'modules/analysis-realigns/client/views/realigns.client.template.html'"></md-whiteframe>

  </div>
  </div>


<!-- end of the current Spear -->

<!-- displaying the previous spear and the spear up. -->

  <div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>
  <!-- the second row  here we display the previous spear -->
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="75" flex-gt-md="75" layout>
  <md-whiteframe class="md-whiteframe-3dp">
    <h5 class="prevSpear statsTitle">Previous {{type}}</h5>

    <!-- <h4>Previous Spear</h4> -->
    <div class="row">
      <div class="col-md-6" ng-show="type == 'week' || type == 'day'" ng-controller="TodoController as vm" prev="true">
        <table class="table table-hover {{ type }}-table-last">
          <thead>
              <tr class="">
              <th colspan = 2 class="{{type}} capitalize"><h5> {{getTypely()}} Spear </h5></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='(i, plan) in vm.todos'>
              <td class="number_column">{{i+1}}</td>
              <td ng-bind="plan.title" ng-class="{'plan_done': !plan.active}"> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" ng-if="type =='quarter'" ng-include = "'modules/quarter-goals/client/views/home-quarterGoals-prev.client.view.html'">
      </div>
      <div class="col-md-6" ng-if="type =='annual'" ng-include = "'modules/quarter-goals/client/views/home-quarterGoals.client.view.html'">

      </div>

      <div ng-controller="AnalysisRealignsController" prev="true">
      <div class="col-md-3">
        <table class="table table-hover {{ type }}-analyse-table-last">
          <thead>
            <tr class="">
            <th class=""><h5> Analyze </h5>
            </th>
          </tr>
          </thead>
            <tbody>
              <tr ng-repeat='analysis in analyses_success'>
                <td class="">
                <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline"></i> &nbsp;
                {{ analysis.text }}</td>
              </tr>
                <tr ng-repeat='analysis in analyses_fail'>
                  <td class="">
                  <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline"></i> &nbsp;
                   {{analysis.text}} </td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table {{ type }}-realign-table-last">
          <thead>
              <tr class="">
              <th class=""><h5> Realign</h5>
              </th>
            </tr>
            </thead>
          <tbody>
            <tr ng-repeat="realign in realigns">
                <td class="realign" >{{realign.text}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </md-whiteframe>
  </div>

  <!-- displaying spear UP  -->

  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="25" flex-gt-md="25" layout >
  <md-whiteframe class="md-whiteframe-3dp">
    <table class="plan-table table table-hover {{vm.spearUpType()}}-table">
      <thead>
      <tr class="">
          <th colspan="2">
            <h5 class="uppercase" ng-if="vm.spearUpType() == 'week'"> Weekly Plans</h5>
            <h5 class="uppercase" ng-if="vm.spearUpType() == 'quarter'"> Quarterly Goals</h5>
          </th>
          <th> </th>
      </tr>
      </thead>

      <tbody ng-controller="TodoController as vm" spearup="true" ng-cloak ng-show = "type !== 'week'">
      <tr ng-repeat='(i, todo) in vm.todos ' style="height: 50px;" on-finish-render="vm.ngRepeatFinished">
        <td class="number_column">{{i+1}}</td>
        <!-- <td style="width: 34px;" ng-bind ="i+1"></td> -->
        <td ng-class="{'plan_done': !todo.active}"  ng-bind = "todo.title"></td>
      </tr>
      </tbody>

      <tbody ng-controller="QuarterGoalsController" spearup="true" ng-cloak ng-show = "type == 'week'">
      <tr ng-repeat='(i, goal) in goals ' style="height: 50px;" on-finish-render="ngRepeatFinished">
              <td class="number_column">{{i+1}}</td>
        <!-- <td  ng-bind ="i+1"></td> -->
        <td ng-class="{'plan_done': goal.status}"  ng-bind = "goal.title"></td>
      </tr>
      </tbody>


    </table>
  </md-whiteframe>
<!--   <md-whiteframe class="md-whiteframe-3dp" layout layout-align="center center" >
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="goal in goals" ng-click ="vm.showGoalPlans(goal)"><a href="#" editable-text="goal.title" buttons="no"
    onbeforesave="updateGoal(goal, $data)" ng-bind = "goal.title || 'New Goal'">
    </a>
          </li>
    </ul>
  </md-whiteframe> -->
  </div>
  </div>

</section>
