<section ng-controller="SpearController as vm">
<div ng-include = "'modules/spear/client/views/spear-report-header.client.template.html'"></div>
  <!-- <div ui-view></div> -->

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>

  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="50" flex-gt-md="50" layout >
  <md-whiteframe class="md-whiteframe-3dp spearframe">
    <table class="plan-table table table-hover annual-table">
      <thead>
      <tr class="">
          <th colspan="3">
            <h5 class="uppercase">Annual Goals</h5>
          </th>
          <!-- <th> </th> -->
      </tr>
      </thead>
      <tbody ng-controller="QuarterGoalsController" spearup="true" ng-cloak >
        <tr ng-repeat='(i, goal) in goals ' style="height: 50px;" >
          <td class="number_column">{{i+1}}</td>
          <td ng-class="{'plan_done': goal.status}"> <div class="report-table-row">{{goal.title}}</div>
          </td>
          <td class="pull-right">{{goal.progress}}%</td>
        </tr>
      </tbody>
    </table>
  </md-whiteframe>
  </div>


  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="50" flex-gt-md="50" layout>
    <md-whiteframe class="md-whiteframe-3dp spearframe">

      <div ng-show = "type == 'quarter'" ng-controller="TodoController as vm" ng-include = "'modules/quarter-goals/client/views/reports-quarterGoals.client.view.html'"></div>
      <!-- Spear Table -->
    </md-whiteframe>
  </div>
</div>


<!-- end of the current Spear -->

<!-- displaying the previous spear and the spear up. -->

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>
  <!-- the second row  here we display the previous spear -->
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>

  <md-whiteframe class = "md-whiteframe-3dp" ng-if = "type == 'quarter'" >
    <h5 class="prevSpear statsTitle">Quarter Analyze and Realign</h5>
    <div class="row" ng-controller="AnalysisRealignsController">
      <div class = "col-md-4" ng-repeat = "i in monthsRange">
        <table class="table table-hover {{ type }}-analyse-table-last">
          <thead>
            <tr class="">
              <th class=""><h5> Week {{(i+1)*4}} Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th> Successes</th></tr>
            <tr ng-repeat='analysis in months[i].analyses_success'>
              <td class="">
              <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline"></i> &nbsp;
              {{ analysis.text }}</td>
            </tr>
            <tr><th> Failures</th></tr>
            <tr ng-repeat='analysis in months[i].analyses_fail'>
              <td class="">
                <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline"></i> &nbsp;{{analysis.text}}
              </td>
            </tr>
            <tr><th> Realigns </th></tr>
            <tr ng-repeat='analysis in months[i].realigns'>
              <td class="">
                <i class="mdi mdi-18"></i> &nbsp;{{analysis.text}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-whiteframe>
  </div>
  </div>

</section>
