<section ng-controller="SpearMonthReportController as vm">
<div ng-include = "'modules/spear/client/views/spear-report-header.client.template.html'"></div>
  <!-- <div ui-view></div> -->

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>

  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="{{vm.spearUpType() == 'annual'?50:40}}" flex-gt-md="{{vm.spearUpType() == 'annual'?50:40}}" layout >
  <md-whiteframe class="md-whiteframe-3dp spearframe">
    <table class="plan-table table table-hover {{vm.spearUpType() =='3 year'? 'annual' : vm.spearUpType()}}-table">
      <thead>
      <tr class="">
          <th colspan="3">
            <h5 class="uppercase" ng-if="vm.spearUpType() == 'week'"> Weekly Plans</h5>
            <h5 class="uppercase" ng-if="vm.spearUpType() == 'quarter'">Quarterly Goals</h5>
            <h5 class="uppercase" ng-if="type == 'annual' ||type == 'quarter' ">Annual Goals</h5>
          </th>
          <!-- <th> </th> -->
      </tr>
      </thead>
      <!-- <tbody ng-controller="TodoController as vm" spearup="true" ng-cloak ng-show = "type == 'day'">
        <tr ng-repeat='(i, todo) in vm.todos ' style="height: 50px;" on-finish-render="vm.ngRepeatFinished">
          <td class="number_column">{{i+1}}</td>
          <td ng-class="{'plan_done': !todo.active}"> <div class="report-table-row"> {{todo.title}} </div> </td>
          <td></td>
        </tr>
      </tbody> -->

      <tbody ng-controller="QuarterGoalsController" spearup="true" ng-cloak ng-show = "type == 'week' ||type == 'quarter'||type == 'month'">
        <tr ng-repeat='(i, goal) in goals ' style="height: 50px;" on-finish-render="ngRepeatFinished">
          <td class="number_column">{{i+1}}</td>
          <td ng-class="{'plan_done': goal.status}"> <div class="report-table-row">{{goal.title}}</div>
          </td>
          <td class="pull-right">{{goal.progress}}%</td>
        </tr>
      </tbody>

      <!-- <tbody ng-controller="QuarterGoalsController" ng-cloak ng-show = "type == 'annual'">
        <tr ng-repeat='(i, goal) in goals ' style="height: 50px;" on-finish-render="ngRepeatFinished">
          <td class="number_column">{{i+1}}</td>
          <td ng-class="{'plan_done': goal.status}"> <div class="report-table-row">{{goal.title}}</div>
          </td>
          <td>{{goal.progress}}</td>
        </tr>
      </tbody> -->
    </table>
  </md-whiteframe>
  </div>


  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="{{vm.spearUpType() == 'annual'?50:60}}" flex-gt-md="{{vm.spearUpType() == 'annual'?50:60}}" layout>
    <md-whiteframe class="md-whiteframe-3dp spearframe">

      <div ng-show = "type == 'week' || type == 'day'|| type == 'month'" ng-include = "'modules/todo/client/views/reports-todo.client.view.html'"></div>

      <!-- <div ng-show = "type == 'quarter'" ng-controller="TodoController as vm" ng-include = "'modules/quarter-goals/client/views/reports-quarterGoals.client.view.html'"></div> -->
      <!-- <div ng-show = "type == 'annual'" ng-controller="AnalysisRealignsController as vmAnaRel" ng-include = "'modules/analysis-realigns/client/views/reports-annual-analysis-realigns.client.template.html'"></div> -->

      <!-- Spear Table -->
    </md-whiteframe>
  </div>
</div>


<!-- end of the current Spear -->

<!-- displaying the previous spear and the spear up. -->

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>
  <!-- the second row  here we display the previous spear -->
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>
  <md-whiteframe class = "md-whiteframe-3dp" ng-if = "type == 'week' || type == 'day'">
    <h5 class="prevSpear statsTitle">This {{type}}'s weekly Spears</h5>
    <div class="row">
      <div class="col-md-4" ng-show="type == 'week' || type == 'day'" ng-controller="TodoController as vm" prev="true">
        <table class="table table-hover {{ type }}-table-last">
          <thead>
              <tr class="">
              <th colspan = 2 class="{{type}} capitalize"><h5> {{getTypely()}} Spear </h5></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='(i, plan) in vm.todos'>
              <td class="number_column">{{i+1}}</td>
              <td ng-bind="plan.title" ng-class="{'plan_done': !plan.active}"> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-md-4" ng-if="type =='quarter'" ng-include = "'modules/quarter-goals/client/views/home-quarterGoals-prev.client.view.html'"></div> -->
      <!-- <div class="col-md-4" ng-if="type =='annual'" ng-include = "'modules/quarter-goals/client/views/home-quarterGoals.client.view.html'"></div> -->

      <div ng-controller="AnalysisRealignsController" prev="true">
      <div class="col-md-4">
        <table class="table table-hover {{ type }}-analyse-table-last">
          <thead>
            <tr class="">
              <th class=""><h5> Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th> Successes</th></tr>
            <tr ng-repeat='analysis in analyses_success'>
              <td class="">
              <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline"></i> &nbsp;
              {{ analysis.text }}</td>
            </tr>
            <tr><th> Failures</th></tr>
            <tr ng-repeat='analysis in analyses_fail'>
              <td class="">
                <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline"></i> &nbsp;{{analysis.text}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table {{ type }}-realign-table-last">
          <thead>
              <tr class="">
              <th class=""><h5> Realign</h5>
              </th>
            </tr>
            </thead>
          <tbody>
            <tr ng-repeat="realign in realigns">
                <td class="realign" >{{realign.text}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </md-whiteframe>
  <md-whiteframe class = "md-whiteframe-3dp" ng-if = "type == 'quarter'" >
    <h5 class="prevSpear statsTitle">Quarter Analyze and Realign</h5>
    <div class="row" ng-controller="AnalysisRealignsController">
      <div class = "col-md-4" ng-repeat = "i in monthsRange">
        <table class="table table-hover {{ type }}-analyse-table-last">
          <thead>
            <tr class="">
              <th class=""><h5> Week {{(i+1)*4}} Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th> Successes</th></tr>
            <tr ng-repeat='analysis in months[i].analyses_success'>
              <td class="">
              <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline"></i> &nbsp;
              {{ analysis.text }}</td>
            </tr>
            <tr><th> Failures</th></tr>
            <tr ng-repeat='analysis in months[i].analyses_fail'>
              <td class="">
                <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline"></i> &nbsp;{{analysis.text}}
              </td>
            </tr>
            <tr><th> Realigns </th></tr>
            <tr ng-repeat='analysis in months[i].realigns'>
              <td class="">
                <i class="mdi mdi-18"></i> &nbsp;{{analysis.text}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-whiteframe>
  <md-whiteframe class = "md-whiteframe-3dp" ng-if = "type == 'month'" >
    <h5 class="prevSpear statsTitle">This Month's Weekly spears </h5>
    <div class="row">
      <div class = "col-md-3" ng-repeat = "i in range4">
        <table class="table table-hover week-analyse-table-last">
          <thead>
            <tr class="">
              <th class=""><h5> Week {{(i+1)}} </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th> Plans</th></tr>
            <tr ng-repeat='todo in vm.downData[i].todos'>
              <td class="">
              {{ todo.title }}</td>
            </tr>
            <tr><th> Successes</th></tr>
            <tr ng-repeat='analysis in vm.downData[i].anaRels.analysisSuccess'>
              <td class="">
              <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline"></i> &nbsp;
              {{ analysis.title }}</td>
            </tr>
            <tr><th> Failures</th></tr>
            <tr ng-repeat='analysis in vm.downData[i].anaRels.analysisFailure'>
              <td class="">
                <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline"></i> &nbsp;{{analysis.title}}
              </td>
            </tr>
            <tr><th> Realigns </th></tr>
            <tr ng-repeat='analysis in vm.downData[i].anaRels.realign'>
              <td class="">
                <i class="mdi mdi-18"></i> &nbsp;{{analysis.title}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-whiteframe>
  </div>
  </div>

</section>
