<section ng-cloak>
<div class="row titleRow">
  <div class="col-xs-6 col-md-3 col-lg-3">
    <p class="page-title pageTitle uppercase txt-color-blueDark">
      <!-- PAGE HEADER -->
      <a ui-sref = 'home'><i class="mdi md-24 mdi-home"></i></a>
        Search &nbsp;&nbsp;
    </p>
  </div>
  <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-12 text-center" style="">
    <div style="border-radius:10px;" ng-include ="'modules/spear/client/views/spear-navigator.client.template.html'"></div>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" style="" ng-include ="'modules/spear/client/views/spear-progress.client.template.html'">
  </div>

  <!-- <div class="col-md-offset-3 col-lg-offset-3  col-xs-6 col-md-2 col-lg-2" style="line-height: 45px;"></div> -->
<!-- </div>
<div class="row"> -->
    <!-- <div class="col-xs-8 col-md-3 col-lg-3" style="/*max-width: 240px;*/"></div> -->
    <!-- <div class="col-xs-4 col-md-1 col-lg-1 pull-left" style="padding: 0px"></div> -->
</div>
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-12 col-lg-12 col-lg-offset-0 todoTableWrapper">
<!-- table begin -->
<div class="todo-smart-table">
    <p>Search this Quarter</p>
<div class="padding-top-20">
<form class="form-inline">
  <label for="items">Show</label>
  <select class="input-sm form-control ng-valid ng-dirty ng-valid-number ng-touched" ng-options = 'num for num in itemsOptions' name="items" id="items" type="number" ng-model="itemsByPage" ng-change="updateSettings()">
    <!-- <option ng-repeat = ""></option> -->
  </select>
<!-- <input class="input-sm form-control ng-valid ng-dirty ng-valid-number ng-touched" name="items" id="items" type="number" ng-model="itemsByPage" ng-change="updateSettings()"> -->
  <label for="items">Rows </label>
</form>
</div>

    <table st-table ="displayedtodos" st-safe-src="vm.displayElements" class="quarter-table display table-striped" ng-class="{'hide_done': hideCompleted}" id="todo-data-table" cellspacing="0" width="100%">
      <thead>
          <tr class="">
          <th st-sort="title" class="" style="min-width: 300px;"><h4>Description <span>
            <!-- <button title="Add Plan" type="button" class="btn btn-default btn-circle pull-right" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus fa-lg txt-color-red"></i>
            </button> -->
          </span></h4></th>
          <!-- <th ><h4 class="text-center">Priority</h4></th> -->
          <th st-sort="category"><h4 class="text-center">Date</h4></th>
          <th st-sort="category"><h4 class="text-center">Period</h4></th>
          <th st-sort="assignedTo"><h4 class="text-center">Type</h4></th>
          <!-- <th style="max-width: 150px"><h4 class="text-center">Reminder</h4></th> -->
          <!-- <th st-sort="due_by" style="max-width: 150px"><h4 class="text-center">Due</h4></th> -->
          <th colspan="4" style="min-width: 120px"><h4 class="text-center">Actions</h4></th>
        </tr>
        <tr class="todosearch">
      <th colspan="1" class="padding-top-20 todosearch">
        <input st-search="description" placeholder="Description" class="input-sm form-control search-bar"/>
      </th>
      <th></th>
      <th class="padding-top-20 todosearch text-center">
          <select st-search="period" class="capitalize input-sm form-control search-bar">
              <option value="">All</option>
              <option ng-repeat="row in vm.periods" class="" value="{{row}}">{{row}}</option>
          </select>
      </th>
      <th class="padding-top-20 todosearch text-center">
          <select st-search="type" class="capitalize input-sm form-control search-bar">
              <option value="">All</option>
              <option ng-repeat="row in vm.elemtypes" class="" value="{{row}}">{{row}}</option>
          </select>
      </th>
      <th colspan="" class="button-col-1 padding-top-20 text-center todosearch"><div class="button-col-1">W</div></th>
      <th colspan="" class="button-col-1 padding-top-20 text-center todosearch"><div class="button-col-1">M</div></th>
      <th colspan="" class="button-col-1 padding-top-20 text-center todosearch"><div class="button-col-1">Q</div></th>
      <th colspan="" class="button-col-1 padding-top-20 text-center todosearch"><div class="button-col-1">A</div></th>
    </tr>
        </thead>
        <tbody>
        <tr class="animate" ng-repeat='todo in displayedtodos' on-finish-render="ngRepeatFinished">
          <td ng-class="{'plan_done': todo.active !=1 }">

            <!-- <span ng-if ="isDeletegated(todo)">
              <i class="mdi mdi-checkbox-blank-outline " ng-if="todo.status == 'notStarted'"></i>
              <i class="fa fa-hourglass-2 " ng-if="todo.status == 'started'"></i>
              <i class="mdi mdi-check " ng-if="todo.status == 'finished'"></i>
            </span> -->

            <!-- <a href="#" editable-text="todo.title" buttons="no" edit-disabled= "todoReadOnly(todo)" onbeforesave="updateTodo(todo, $data)"> {{todo.title | limitTo:200 || 'New Task' }}{{todo.title.length > 100 ? '&hellip;' : ''}} </a> -->
            {{todo.description}}
          </td>
          <td class="text-center capitalize">
            {{todo.date}}
          </td>
          <td class="text-center capitalize">
           <!-- <a href="#" edit-disabled= "todoReadOnly(todo)" editable-select="todo.category" buttons="no" e-ng-options="s._id as s.title for s in todoCategories" onbeforesave="updateCategory(todo, $data)">{{ showCategory(todo) }}</a> -->
           {{todo.period}}
          </td>
          <td class="text-center capitalize">
            <!-- <a href="#" edit-disabled= "todoReadOnly(todo)" editable-select="todo.assignedTo" buttons="no" e-ng-options="s._id as s.firstName for s in users" onbeforesave="updateAssignedTo(todo, $data)">{{ showUser(todo) }}</a> -->
            {{todo.type}}
          </td>

          <!-- <td class="text-center"></td> -->

          <!-- <td class="text-center"> -->
            <!-- <md-datepicker ng-model="todo.due_by" ng-disabled = "todoReadOnly(todo)" aria-label="Due Date" ng-change = "updateDueBy(todo)" md-placeholder="Pick a Date"></md-datepicker> -->
                <!-- <input ng-disabled = "todoReadOnly(todo)" type="text" class="form-control pull-right date-picker" id="due_by" ng-model="todo.due_by" ng-change = "updateDueBy(todo)" data-date-type="number" data-autoclose="1" name="due_by" bs-datepicker style="max-width: 140px;"> -->

          <!-- <input type="text" name="mydate" placeholder="Pick a Date"
          class="form-control datepicker-input" ng-change="updateDueBy(todo)"
          ng-model="todo.due_by_proxy"><span style="display: none">{{todo.due_by}}</span> -->
          <!-- </td> -->
          <td class="button-col-1">
            <div class="text-center button-col-1 edit-controls row-button" ng-show="vm.showAnaRelbuttons(todo)">
              <md-button class="md-icon-button week" ng-disabled="vm.disableButtonType(todo,'week')" aria-label ="Done" ng-click="reportIn(todo, 'week')">
                <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="todo.reportIn == 'week'"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.reportIn != 'week'"></i>
              </md-button>
            </div>
          </td>
          <td class="button-col-1">
            <div class="text-center button-col-1 edit-controls row-button" ng-show="vm.showAnaRelbuttons(todo)">
              <md-button class="md-icon-button" ng-disabled="vm.disableButtonType(todo,'month')" aria-label ="Done" ng-click="reportIn(todo, 'month')">
                <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="todo.reportIn == 'month'"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.reportIn != 'month'"></i>
              </md-button>
            </div>
            <div class="text-center button-col-1 edit-controls row-button" ng-show="vm.showMonthbuttons(todo)">
              <md-button class="md-icon-button" aria-label ="Done" ng-click="addToMonth(todo, data)">
                <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="todo.month"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="!todo.month"></i>
                <md-tooltip>Add to Monthly report</md-tooltip>
              </md-button>
            </div>
            <!-- <div class="text-center button-col-1 edit-controls row-button" ng-show="!vm.showMonthbuttons(todo)"style="min-height: 40px;"></div> -->
          </td>
              <td class="button-col-1">
            <div class="text-center button-col-1 edit-controls row-button" ng-show="vm.showAnaRelbuttons(todo)">
              <md-button class="md-icon-button quarter" ng-disabled="vm.disableButtonType(todo,'quarter')" aria-label ="Done" ng-click="reportIn(todo, 'quarter')">
                <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="todo.reportIn == 'quarter'"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.reportIn != 'quarter'"></i>
              </md-button>
              </div>
              </td><td class="button-col-1">
            <div class="text-center button-col-1 edit-controls row-button" ng-show="vm.showAnaRelbuttons(todo)">
              <md-button class="md-icon-button annual" ng-disabled="vm.disableButtonType(todo,'annual')" aria-label ="Done" ng-click="reportIn(todo, 'annual')">
                <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="todo.reportIn == 'annual'"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.reportIn != 'annual'"></i>
              </md-button>
              </div>
              </td>
              <!-- <td> -->
            <!-- <div class="pull-right edit-controls row-button" ng-show="!vm.showMonthbuttons(todo)" style="min-height: 40px;"></div> -->
          <!-- </td> -->
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
      </tr>
    </tfoot>
    </table>
</div>
  </div>
</div>
</section>
