<div class="row titleRow">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <p class="pageTitle"> <a ui-sref = 'home'><i class="mdi md-24 mdi-home"></i> </a>{{ getTypely() }} <span class="uppercase"> Spear</span></p>
  </div>
<!-- </div> -->
<!-- <div class="row" style="padding-top:10px;"> -->
  <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-12 text-center" style="">
  <div style="border-radius:10px;" ng-include ="'modules/spear/client/views/spear-navigator.client.template.html'">
  </div>
  </div>
  <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" style="" ng-include ="'modules/spear/client/views/spear-progress.client.template.html'"> 
  </div>
</div>