button > i.selected{
  color: #169FD8;
}

.spearframe{
  min-height: 465px;
  position: relative;
}
@media only screen and (min-width: 992px){
  .spearframe{
    max-height: 530px;
  }
}
.txt-color-day{
  color: #0093CA !important;
}
.txt-color-orange{
  color: #ED782C !important;
}

.table tbody tr .edit-controls{display: none;}
.table tbody tr:hover .edit-controls{display: block;}
.table thead th h4 {min-height: 30px;}

md-progress-linear .md-container{
  background-color: white;
}

md-progress-linear.day .md-container{
  /*background-color: white;*/
}
md-progress-linear.day .md-container .md-bar2{
  background-color: red;
}

md-progress-linear.week .md-container{
  /*background-color: red;*/
}
md-progress-linear.week .md-container .md-bar2{
  background-color: #7FC241;
}

md-progress-linear.quarter .md-container{
  /*background-color: red;*/
}
md-progress-linear.quarter .md-container .md-bar2{
  background-color: #0093CA;
}

md-progress-linear.annual .md-container{
  /*background-color: red;*/
}
md-progress-linear.annual .md-container .md-bar2{
  background-color: black;
}

.plan-table .title{
  text-transform: uppercase;
}

/*.day*/

.analyse-table .mdi-plus{
  font-size: 18px;
  font-weight: bold;
}

.mdi-arrow-up-bold-circle-outline,
.mdi-arrow-down-bold-circle-outline{
  font-size: 18px !important;
  color: black !important;
}

.mdi-delete-variant{
  color: black !important;
}

.day,
.day-realign-table thead tr th .title,
.day-analyse-table thead tr th .title,
.day-table thead tr th .title,
.day-analyse-table .analyseButton{
  color: red;
}
.add-button{
  background-color: #F1F1F1;
}
.day-table thead tr th .add-button,
.day-realign-table thead tr th .add-button{
  color: red;
}

.day-table thead tr,
.day-realign-table thead tr,
.day-analyse-table thead tr,
.day-table-last thead tr,
.day-analyse-table-last thead tr,
.day-realign-table-last thead tr{
/*  background: #686868 !important;
  color: #fff !important;
*/
  background: #fff !important;
  color: red !important;

  border-bottom: red !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
}

.week,
.week-realign-table thead tr th .title,
.week-analyse-table thead tr th .title,
.week-table thead tr th .title,
.week-analyse-table .analyseButton{
  color: #7FC241 ;
}
.week-table thead tr th .add-button,
.week-realign-table thead tr th .add-button{
  /*background-color: #7FC241 !important;*/
  color: #7FC241 !important;
}
.week-table thead tr,
.week-realign-table thead tr,
.week-analyse-table thead tr,
.week-table-last thead tr,
.week-analyse-table-last thead tr,
.week-realign-table-last thead tr{
  background: #fff !important;
  color: #7FC241 !important;

  border-bottom: #7FC241 !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
}

.quarter,
.quarter-table thead tr th .title,
.quarter-table thead tr th a,
.quarter-analyse-table .analyseButton{
  color: #0093CA !important;
}
.quarter-table thead tr th .add-button,
.quarter-realign-table thead tr th .add-button{
  /*background-color: #0093CA !important;*/
  color: #0093CA !important;
}
.quarter-spear .add-button{
  /*background-color: #0093CA !important;*/
  color: #0093CA !important;
}
.quarter-table thead tr,
.quarter-realign-table thead tr,
.quarter-analyse-table thead tr,
.quarter-table-last thead tr,
.quarter-analyse-table-last thead tr,
.quarter-realign-table-last thead tr{
  background: #fff !important;
  color: #0093CA !important;

  border-bottom: #0093CA ;
  border-bottom-width: 3px ;
  border-bottom-style: solid !important;
}

.quarter-table thead tr.todosearch{
  /*border-bottom: none;*/
  border-bottom-width: 1px ;
}

.settings-table thead tr th .title,
.settings-table thead tr th a,
.settings-analyse-table .analyseButton{
  color: black !important;
}
.settings-table thead tr th .add-button,
.settings-realign-table thead tr th .add-button{
  background-color: #0093CA !important;
  color: white !important;
}
.month-table thead tr,
.settings-table thead tr{
  background: #fff !important;
  color: black !important;

  border-bottom: black !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
}

.table thead tr th {
  text-transform: uppercase;
}

.annual,
.annual-table thead tr th .title,
.annual-analyse-table .analyseButton{
  color: purple ;
}
.annual-spear .add-button{
  /*background-color: purple !important;*/
  color: purple !important;
}
.annual-table thead tr th .add-button,
.annual-realign-table thead tr th .add-button{
  /*background-color: purple !important;*/
  color: purple !important;
}
.annual-table thead tr,
.annual-realign-table thead tr,
.annual-analyse-table thead tr,
.annual-table-last thead tr,
.annual-analyse-table-last thead tr,
.annual-realign-table-last thead tr{
  background: #fff !important;
  color: purple !important;

  border-bottom: purple !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
}

.admin-table thead tr th .title{
  color: darkgrey ;
}
.admin-table thead tr{
/*  background: #686868 !important;
  color: #fff !important;
*/
  background: #fff !important;
  color: #686868 !important;
}
.admin-table thead tr,
.admin-table thead th{
  border-bottom: darkgrey !important;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  color: black;
}
.admin-table-wrapper{
  background-color: white;
}

.dnd-row-button.row-button{
  max-width: 70px;
  padding-left: 0px;
}

.todo-table thead tr th .title{
  color: #ED782C ;
}
.todo-table thead tr{
/*  background: #686868 !important;
  color: #fff !important;
*/
  background: #fff !important;
  color: #686868 !important;
}
.todo-table thead tr,
.todo-table thead th{
  border-bottom: #ED782C ;
  border-bottom-width: 3px ;
  border-bottom-style: solid;
  color: #ED782C;
}
.todo-table .date-picker{
  border: none;
}

.todo{
  color: #ED782C;
}

th.todosearch{
  border-bottom-color: #E6E6E6 !important;
  border-image-width: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.analysisRealignFrame {
  position: absolute;
  background-color: white;
  z-index: 1;
  right: 0;
  top: 110px;
  width: 70%;
}

.prevAnalysisSuccess,
.an_success a{
  /*color:green;*/
}

.prevAnalysisFail,
.an_fail a{
  /*color:red;*/
}

.realign{

}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;

  /*display: block !important;*/
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  /*display: block !important;*/
}

editable-click, a.editable-click {
    text-decoration: none;
    color: #000000 !important;
    border-bottom: none !important;
}

.readonly a{
  text-decoration: none;
  color: #000000 !important;
  cursor: default;
}
.readonly a: hover{
  text-decoration: none;
}

.plan_done, .plan_done a{
    color: gray !important;
    text-decoration: line-through !important;
}

.row-button .md-icon-button{
  margin: 0px;
  padding: 4px;
  width: inherit;
}

.padding-top-20{
  padding-top: 20px;
}

.todoTableWrapper .mdl-grid.dt-table{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px !important;
}

.newTodoButton{
  background-color: #ED782C !important;
  color: white !important;
}


.ct-series-a .ct-bar {
  /* The width of your bars */
  stroke-width: 5px;
}

.ct-label {
  color:black;
  font-size: 1rem;
}

.ct-series-a .ct-slice-donut {
  /* create modern looking rounded donut charts */
  /*stroke-linecap: round;*/
}

.quarter .ct-series-a .ct-bar,
.quarter .ct-series-a .ct-slice-donut{
    stroke: #0093CA;
}

.day .ct-series-a .ct-slice-donut{
    stroke: red;
}

.week .ct-series-a .ct-slice-donut{
    stroke: #7FC241;
}

.todo .ct-series-a .ct-slice-donut{
    stroke: #ED782C;
}

.day .ct-series-b .ct-slice-donut,
.quarter .ct-series-b .ct-slice-donut,
.todo .ct-series-b .ct-slice-donut,
.week .ct-series-b .ct-slice-donut{
    stroke: #EFEFEF;
}

.dayStats .donutcenter{
  color: red;
}

.weekStats .donutcenter{
  color: #7FC241;
}
.todoStats .donutcenter{
  color: #ED782C;
  font-size: 12px;
  font-weight: bold;
}

.donutSmall{
  right: 33%;
  top: 42%;
}

.donutBig{
  right: 34%;
  top: 50%;
}
.donutcenter{
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 32%;
}

.statsTitle{
  border-bottom-color: black;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding: 10px;
    text-transform: uppercase;
}

.statselem .subTitle{
  font-weight: bold;
}

.statselem .graphtitle{
  /*text-align: center;*/
}

.todoStats{
  /*border-bottom-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;*/
}

.reminderSet{
  color: #0093CA !important;
}

.plan-table.todo-table p{
  margin-bottom: 0px;
}

.plan-table.quarter-table md-select{
  width: 30px;
}
.margin_left {
  margin-left: 10px;
}
