<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear {{name}},</p>
  <br />
  <p>
    A new account has been created for you {{appName}}
  </p>
  <p>Please visit this url to login:</p>
  <a href='http://app.spearity.com'> http://app.spearity.com </a>
  <p>Your credentials are: User Name: {{username}}  </p>
  <p>Password : {{password}}</p>
  <p>Please be sure to reset your password once you login.</p>
  <strong>Hope you have a great time with the app.</strong>
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>
