      <!-- controls for Plan Analysis and realign -->
  <div>
    <div  type="{{ type }}">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
        <table class="table table-hover analyse-table {{ type }}-analyse-table">
          <thead>
            <tr class="">
            <th colspan="">
            <h5 class="uppercase strong">analyze</h5>
            </th>
          <th class="{{type}}" style="height: 58px">
              </th>
              </tr>
          </thead>
          <tbody>
            <tr><td colspan="2" class="uppercase" style="/*font-weight: bold;*/"><span>Successes
            <md-button class="md-icon-button pull-right" aria-label="Add Success" ng-click ="addSuccess()">
                <i class="mdi md-18 mdi-plus "></i>
                <md-tooltip>Add Success</md-tooltip>
              </md-button>
              </span>
              </td></tr>
            <tr ng-repeat = 'analysis in analyses_success ' class="an_success" on-finish-render="ngRepeatFinished">
              <td>
              <i class="mdi mdi-18 mdi-arrow-up-bold-circle-outline txt-color-green"></i>  &nbsp; 
              <a href="#" ng-click="addEditAnnRelDialog(analysis)"> 
              <!-- </a> -->
              <!-- <a href="#" editable-text="analysis.text" buttons="no" onbeforesave="updateAnnRel(analysis, $data)"> -->

              <!-- <i class="fa fa-arrow-circle-up "></i>  -->
              {{analysis.text || 'Add New Success'}}
              </a> </td>
              <td style="width: 25px">
                  <div class="pull-right ">
                    <a href="" ng-click="deleteAnnRel(analysis)">
                      <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
                      <md-tooltip>Delete Analysis</md-tooltip>
                    </a>
                  </div>
              </td>
            </tr>
            <tr><td colspan="2"  class="uppercase" style="/*font-weight: bold;*/">
            <span> Failures 
              <md-button class="md-icon-button pull-right analyseButton " aria-label="Add Failure" ng-click ="addFail()">
                <i class="mdi md-18 mdi-plus "></i>
                <md-tooltip>Add Failure</md-tooltip>
              </md-button>
              </span>
              </td></tr>
            <tr ng-repeat="analysis in analyses_fail" class="an_fail" on-finish-render="ngRepeatFinished">
              <td>
              <a href="#" ng-click="addEditAnnRelDialog(analysis)"> 
              <!-- <a href="#" editable-text="analysis.text" buttons="no" onbeforesave="updateAnnRel(analysis, $data)"> -->
              <i class="mdi mdi-18 mdi-arrow-down-bold-circle-outline txt-color-red"></i> &nbsp;
              {{analysis.text || 'Add New Failure'}}
              </a>
               </td>
               <td style="width: 25px">
                  <div class="pull-right ">
                    <a href="" ng-click="deleteAnnRel(analysis)">
                      <i class="mdi md-18 mdi-delete-variant"></i>
                      <md-tooltip>Delete Analysis</md-tooltip>
                    </a>
                  </div>
               </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

