      <!-- controls for Plan Analysis and realign -->

<!--      <div class="row" style="z-index: 1; position: absolute; top: 265px;">
       <div class="col-md-4 col-xs-2 col-md-offset-1 col-xs-offset-1">
          <md-button aria-label="week 4" ng-class = "{'md-raised blue-color': quarterType == 1}" ng-click ="quarterAnnRelChanged(1)">
             Week 4
          </md-button>
          </div>
       <div class="col-md-4 col-xs-2">
          <md-button aria-label="Week 8" ng-class = "{'md-raised':quarterType == 2}"  ng-click ="quarterAnnRelChanged(2) ">
            Week 8
          </md-button>
          </div>
       <div class="col-md-3 col-xs-2">
          <md-button aria-label="Quarterly Spear" ng-class = "{'md-raised':quarterType == 3}"  ng-click ="quarterAnnRelChanged(3)">
            Week 12
          </md-button>
        </div>
      </div>
     </div> -->
  <div>
    <div  type="{{ type }}">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0px;">
        <table class="table table-hover analyse-table {{ vm.type }}-analyse-table">
          <thead>
            <tr class="">
            <th colspan="" >
            <h5>
              <span class="title strong">
                  Analyze
</span>
            </h5>
            </th>
            <th class="{{type}}">
                  <!-- <md-button class="md-icon-button pull-right" aria-label="Add Realign">
                  </md-button> -->
                  <md-menu>
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button pull-right add-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <i class="mdi md-18 mdi-dots-vertical"></i>
                        <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button aria-label="week 4" ng-class = "{'md-raised blue-color': quarterType == 1}" ng-click ="quarterAnnRelChanged(1)">
                           Week 4
                        </md-button>
                        </md-menu-item>
                        <md-menu-item>
                        <md-button aria-label="Week 8" ng-class = "{'md-raised':quarterType == 2}"  ng-click ="quarterAnnRelChanged(2) ">
                          Week 8
                        </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button aria-label="Quarterly Spear" ng-class = "{'md-raised':quarterType == 3}"  ng-click ="quarterAnnRelChanged(3)">
                            Week 12
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

              </th></tr>
          </thead>
          <tbody>
              <!-- <tr><td style="padding-top: 50px;"></td></tr> -->
            <tr><td class="uppercase" style="/*font-weight: bold;*/"><span>Successes
              </span></td>
              <td><md-button class="md-icon-button pull-right" aria-label="Add Success" ng-click ="addSuccess()">
                <i class="mdi md-18 mdi-plus "></i>
                <md-tooltip>Add Success</md-tooltip>
              </md-button></td>
              </tr>
            <tr ng-repeat = 'analysis in analyses_success ' class="an_success" on-finish-render="ngRepeatFinished">
              <td>
              <a href="#" ng-click="addEditAnnRelDialog(analysis)">
              <!-- <a href="#" editable-text="analysis.text" buttons="no" onbeforesave="updateAnnRel(analysis, $data)"> -->
              <!-- <i class="fa fa-arrow-circle-up "></i>  -->
              <i class="mdi md-18 mdi-arrow-up-bold-circle-outline txt-color-green"></i> &nbsp;
              {{analysis.text || 'Add New Success'}}
              </a> </td>
              <td style="width: 50px">
                  <div class="pull-right ">
                    <a href="" ng-click="deleteAnnRel(analysis)">
                      <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
                      <md-tooltip>Delete Analysis</md-tooltip>
                    </a>
                  </div>
              </td>
            </tr>
            <tr><td class="uppercase" style="/*font-weight: bold;*/">
            <span> Failures
              </span></td>
              <td>
              <md-button class="md-icon-button pull-right analyseButton" aria-label="Add Failure" ng-click ="addFail()">
                <i class="mdi md-18 mdi-plus "></i>
                <md-tooltip>Add Failure</md-tooltip>
              </md-button></td></tr>
            <tr ng-repeat="analysis in analyses_fail" class="an_fail" on-finish-render="ngRepeatFinished">
              <td>
              <a href="#" ng-click="addEditAnnRelDialog(analysis)">
              <!-- <a href="#" editable-text="analysis.text" buttons="no" onbeforesave="updateAnnRel(analysis, $data)"> -->
              <i class="mdi md-18 mdi-arrow-down-bold-circle-outline txt-color-red"></i> &nbsp;
              {{analysis.text || 'Add New Failure'}}
              </a>
               </td>
               <td style="width: 50px">
                  <div class="pull-right ">
                    <a href="" ng-click="deleteAnnRel(analysis)">
                      <i class="mdi md-18 mdi-delete-variant"></i>
                      <md-tooltip>Delete Analysis</md-tooltip>
                    </a>
                  </div>
               </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0px;">
          <table class="table table-hover {{ vm.type }}-realign-table realign-table">
            <thead>
                <tr class="">
                <th colspan=""><h5> <span class="title strong">
                  Realign
                  </span>
                  </h5>
                  </th>
                  <th>
                  <md-button class="md-icon-button pull-right add-button" aria-label="Add Realign" ng-click ="addRealign()">
                    <i class="mdi md-24 mdi-plus"></i>
                    <md-tooltip>Add Realign</md-tooltip>
                  </md-button>
                </th>
              </tr>
              </thead>
              <tbody>
              <!-- <tr><td style="padding-top: 50px;"></td></tr> -->
              <tr ng-repeat="realign in realigns" on-finish-render="ngRepeatFinished">
                <td>
              <a href="#" ng-click="addEditAnnRelDialog(realign)" ng-bind="realign.text || 'New Realign' ">
                    <!-- <a href="#" editable-text="realign.text" buttons="no" onbeforesave="updateAnnRel(realign, $data)" ng-bind="realign.text || 'New Realign' "> -->
                    </a>
                </td>
                <td style="width: 30px">
                    <div class="pull-right row-button">
                    <md-menu class="buttonMenu" md-offset="-20 50">
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <i class="mdi md-18 mdi-dots-vertical"></i>
                        <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
                      </md-button>
                      <md-menu-content width="2" class="buttonMenu">
                      <md-menu-item>
                      <md-button class="md-button" aria-label =  "Copy to .."
                    ng-click="copyAnnRel(realign)"> Copy to
                        <i class="mdi md-18 mdi-content-copy pull-right margin_left" style="line-height: 36px;" ></i>
                    </md-button>
                      </md-menu-item>
                        <md-menu-item>
                    <md-button class="md-button" aria-label ="Delete Plan" ng-click="deleteAnnRel(realign)"> Delete
                        <i class="mdi md-18 mdi-delete-variant pull-right margin_left" style="line-height: 36px;"></i>
                    </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                    </div>
                 </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
