<md-dialog aria-label="Edit Analyze realigns">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="capitalize">{{annRel.type == 'analysisSuccess'? 'Analyze Success': annRel.type == 'analysisFailure'? 'Analyze Failure': 'Realign'}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
              <label class="control-label" for="course">Description</label>
              <textarea rows = "4" class="form-control" name='title' id='title' ng-model = annRel.text md-placeholder="What's to-do? " md-autofocus></textarea>
            </div>
          </div>
        </div>
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>