      <!-- controls for Plan Analysis and realign -->
  <div>
    <div  type="{{ type }}">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
          <table class="table table-hover {{ type }}-realign-table realign-table">
            <thead>
                <tr class="">
                <th colspan=""><h5> <span class="title uppercase strong">
                  Realign
                  </span> </h5>
                  </th>
          <th class="{{type}}" colspan="2">
                  <md-button class="md-icon-button pull-right add-button" aria-label="Add Realign" ng-click ="addRealign()">
                    <i class="mdi md-24 mdi-plus"></i>
                    <md-tooltip>Add Realign</md-tooltip>
                  </md-button>
                </th>
              </tr>
              </thead>
              <tr ng-repeat="realign in realigns" on-finish-render="ngRepeatFinished">
                <td colspan="2">
                <a href="#" ng-click="addEditAnnRelDialog(realign)" ng-bind="realign.text || 'New Realign' ">
                    <!-- <a href="#" editable-text="realign.text" buttons="no" onbeforesave="updateAnnRel(realign, $data)" ng-bind="realign.text || 'New Realign' "> -->
                    </a>
                </td>
                <td style="width: 30px">
                    <div class="pull-right row-button">
                    <md-menu class="buttonMenu" md-offset="-20 50">
                      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <i class="mdi md-18 mdi-dots-vertical"></i>
                        <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
                      </md-button>
                      <md-menu-content width="2" class="buttonMenu">
                      <md-menu-item>
                      <md-button class="md-button" aria-label =  "Copy to .."
                    ng-click="copyAnnRel(realign)"> Copy to
                        <i class="mdi md-18 mdi-content-copy pull-right margin_left" style="line-height: 36px;"></i>
                    </md-button>
                      </md-menu-item>
                        <md-menu-item>
                    <md-button class="md-button" aria-label ="Delete Plan" ng-click="deleteAnnRel(realign)"> Delete
                        <i class="mdi md-18 mdi-delete-variant pull-right margin_left" style="line-height: 36px;"></i>
                    </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                      <!-- <a href="" ng-click="deleteAnnRel(realign)">
                        <i class="fa fa-fw fa-trash-o txt-color-red"></i>
                        <md-tooltip>Delete Realign</md-tooltip>
                      </a> -->
                    </div>
                 </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
