<div>
  <div  type = "{{ type }}">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6" style = "padding: 0px;">
      <table class = "table table-hover analyse-table {{ vm.type }}-analyse-table">
        <thead>
          <tr class = "">
            <th colspan = "" >
              <h5><span class = "title strong">Analyze</span></h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class = "uppercase" style = "/*font-weight: bold;*/"><span>Successes
            </span></td>
          </tr>
          <tr ng-repeat = 'analysis in analyses_success ' class = "an_success" on-finish-render = "ngRepeatFinished">
            <td>
              <div>
                <i class = "mdi md-18 mdi-arrow-up-bold-circle-outline txt-color-green"></i> &nbsp; {{analysis.text }}
              </div>
            </td>
          </tr>
          <tr>
            <td class = "uppercase" style = "/*font-weight: bold;*/">
              <span> Failures</span>
            </td>
          </tr>
          <tr ng-repeat = "analysis in analyses_fail" class = "an_fail" on-finish-render = "ngRepeatFinished">
            <td>
              <div>
                <i class = "mdi md-18 mdi-arrow-down-bold-circle-outline txt-color-red"></i> &nbsp;{{analysis.text}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6" style = "padding: 0px;">
      <table class = "table table-hover {{ vm.type }}-realign-table realign-table">
        <thead>
          <tr class = "">
            <th colspan = "">
              <h5> <span class = "title strong">Realign</span></h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "realign in realigns">
            <td> <div> {{realign.text}} </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

