<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
  <style>
   table {border-collapse: collapse; min-width: 80%;}

    table, th, td {border: 1px solid black;}
    td {padding-left: 8px; padding-right: 8px; min-width: 50px;}
    th {font-weight: bold;}
    body {font-family: Arial, Helvetica, sans-serif;}
  </style>
</head>

<body>
  <p>Hello Super,</p>
  <h1>Login Data Report</h1>
  <h4>{{dateInFormat}}</h4>
  <br />
  <p>
    This is what happened Yesterday..
    <br/>
    {{accounts.length }} New Accounts.
    <br/>
    {{users.length }} New Users.
  </p>

  <table>
  <thead>
    <tr>
      <th>Accounts</th>
      <th>Day</th>
      <th>Week</th>
      <th>Month</th>
      <th>Quarter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New</td>
      <td>{{accountsday.length}}</td>
      <td>{{accountsweek.length}}</td>
      <td>{{accountsmonth.length}}</td>
      <td>{{accountsquarter.length}}</td>
    </tr>
  </tbody>
  </table>
  <br/>

  <p><b>New Accounts</b></p>
  <table>
    <thead>
      <tr>
        <th>Account</th>
        <th>Type</th>
        <th># Users</th>
      </tr>
    </thead>
    <tbody>
      {{#each accountsday}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.type.title}}</td>
        <td>1</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  <p><b>New Users</b></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Sign-up</th>
        <th>Last Login</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.firstName}}</td>
        <td>{{this.email}}</td>
        <td>{{dateFormat this.created}}</td>
        <td>{{dateFormat this.lastLogin}}</td>
        <td>1</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  <p><b>Users Active</b></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Sign-up</th>
        <th>Last Login</th>
      </tr>
    </thead>
    <tbody>
      {{#each logedInUsers}}
      <tr>
        <td>{{this.firstName}}</td>
        <td>{{this.email}}</td>
        <td>{{dateFormat this.created}}</td>
        <td>{{dateFormat this.lastLogin}}</td>
        <!-- <td>1</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  <p><b>No Login 3+ Days</b></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Sign-up</th>
        <th>Last Login</th>
      </tr>
    </thead>
    <tbody>
      {{#each lateUsers}}
      <tr>
        <td>{{this.firstName}}</td>
        <td>{{this.email}}</td>
        <td>{{dateFormat this.created}}</td>
        <td>{{dateFormat this.lastLogin}}</td>
        <!-- <td>1</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  <br/>
  <p>The {{appName}} Support Team</p>
</body>

</html>
