
html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-weight: 500;*/
  font-size: 9px;
  /*background: rgb(241,241,241);*/
  /*-webkit-print-color-adjust: exact;*/
  box-sizing: border-box;
}
.page {
  /*position: relative;
  height: 90mm;
  width: 50mm;
  display: block;
  background: black;
  page-break-after: auto;
  margin: 50px;
  overflow: hidden;*/
}
.logoImg{
  /*width: 100px;*/
  max-height: 50px;
}

.col-md-6, 
.col-sm-6, 
.col-lg-6, 
.col-xs-6,
.col-md-3, 
.col-sm-3, 
.col-lg-3, 
.col-xs-3, 
.col-xs-4{
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.table tr h5{
  margin-top: 0px;
  margin-bottom: 0px;
}

.table{
  border: 1px solid #E4E4E4;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
  padding: 3px !important;
  border-top: none;
  /*line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;*/
}

.table>thead>tr>th{
  background: #E4E4E4 !important;
}


@media print {
  * {color: inherit !important;}

  body {
    /*background: black;*/
    color: inherit;
  }
  .page {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}
.report-progress{
  text-align: right;
}
.number_col{
  max-width: 10px;
}

.background{
  position: absolute;
  width: 90%;
  height: 100%;
  background-image: url("modules/spear/server/img/imgpsh_fullsize.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.07;
}

.day-table .report-progress,
.month-table .report-progress,
.week-table .report-progress{
  display: none;
  width: 0px;
}
.day-realign-table>thead>tr>th .title,
.day-analyse-table>thead>tr>th .title,
.day-table>thead>tr>th .title,
.day-analyse-table .analyseButton{
  color: red;
}
.day-table>thead>tr>th,
.day-realign-table>thead>tr>th,
.day-analyse-table>thead>tr>th,
.day-table-last>thead>tr>th,
.day-analyse-table-last>thead>tr>th,
.day-realign-table-last>thead>tr>th{
/*  background: #686868 !important;
  color: #fff !important;
*/
  background: #E4E4E4 !important;
  color: red !important;

  /*border-bottom: red !important;*/
  /*border-bottom-width: 3px !important;*/
  /*border-bottom-style: solid !important;*/
}

.week-realign-table thead tr th .title,
.week-analyse-table thead tr th .title,
.week-table thead tr th .title{
  color: #7FC241 ;
}
.week-table thead tr th,
.week-realign-table thead tr th,
.week-analyse-table thead tr th,
.week-table-last thead tr th,
.week-analyse-table-last thead tr th,
.week-realign-table-last thead tr th{
  background: #E4E4E4 !important;
  color: #7FC241 !important;

  /*border-bottom: #7FC241 !important;*/
  /*border-bottom-width: 3px !important;*/
  /*border-bottom-style: solid !important;*/
}


.quarter-table thead tr th .title,
.quarter-table thead tr th a,
.quarter-analyse-table .analyseButton{
  color: #0093CA !important;
}
.quarter-table thead tr th,
.quarter-realign-table thead tr th,
.quarter-analyse-table thead tr th,
.quarter-table-last thead tr th,
.quarter-analyse-table-last thead tr th,
.quarter-realign-table-last thead tr th{
  background: #E4E4E4 !important;
  color: #0093CA !important;

  /*border-bottom: #0093CA !important;*/
  /*border-bottom-width: 3px !important;*/
  /*border-bottom-style: solid !important;*/
}

.annual-table thead tr th .title{
  color: purple ;
}
.annual-table thead tr th,
.annual-realign-table thead tr th,
.annual-analyse-table thead tr th,
.annual-table-last thead tr th,
.annual-analyse-table-last thead tr th,
.annual-realign-table-last thead tr th{
  background: #E4E4E4 !important;
  color: purple !important;

  /*border-bottom: purple !important;*/
  /*border-bottom-width: 3px !important;*/
  /*border-bottom-style: solid !important;*/
}

table tbody{
  counter-reset: rowNumber;
}

table tr {
  counter-increment: rowNumber;
}

.report-table-row{
  min-height: 10px;
  display: initial;
}

table tbody tr td:first-child::before {
  /*content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;*/
}
.page.first {
  border-left: 5px solid green;
}
.bottom {
  position: absolute;
  left: 5mm;
  right: 5mm;
  bottom: 5mm;
}
.group {
  margin-top: 3mm;
}
.line {
  color: white;
  position: relative;
}
.center {
  text-align: center;
}
.logo {
  position: relative;
  width: 80%;
  left: 10%;
  top: 15%;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}