<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Spearity Realign Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
    {{{css}}}
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="/home/satwik/projects/livep/spear2/public/dist/reportsrender.css"> -->
  </head>
  <body class="container">
  <div class="background" ></div>
  <img class="logoImg" src="data:image/png;base64,{{img}}" alt="DFC logo">
    <div class="page">
    <h5 class="capitalize">{{name}}'s {{currentTypeTitle}} Realign Report</h5>
      <div class="row" >
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
          <table class="plan-table table {{upType}}-table">
            <thead>
            <tr class="">
                <th colspan="3"><h5 class="uppercase"> {{upTypeTitle}} Plans</h5></th>
            </tr>
            </thead>
            <tbody>
              {{#upPlans}}
              <tr>
                <td class="number_col">{{inc @index}}.</td>
                <td> <div class="report-table-row"> {{title}} </div> </td>
                <td class="report-progress"> {{progress}}% </td>
              </tr>
              {{/upPlans}}
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
          <table class="plan-table table {{currentType}}-table">
            <thead>
                <tr class="">
                <th class="{{currentType}} uppercase" colspan="3"><h5>{{currentTypeTitle}} Plan <span>
                  </span></h5>
                </th>
                <!-- <th class="{{currentTypeTitle}}"></th> -->
              </tr>
            </thead>
            <tbody>
                {{#currentPlans}}
              <tr>
                <td class="number_col">{{inc @index}}.</td>
                <td><div class="report-table-row"> {{title}}</div> </td>
                <td class="report-progress"> {{progress}}% </td>
              </tr>
                {{/currentPlans}}
            </tbody>
          </table>
        </div>
      </div>
      <h5 class="capitalize">QUARTER ANALYZE AND REALIGN </h5>
      <div class="row">
        <div class="col-xs-4">
          <table class="table {{currentType}}-analyse-table-last">
          <thead>
            <tr class="">
              <th colspan="2" class=""><h5>Week 4 Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th colspan="2"> Successes</th></tr>
            {{#previousSuccessesmo1}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousSuccessesmo1}}

            <tr><th colspan="2"> Failures</th></tr>
            {{#previousFailuresmo1}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousFailuresmo1}}

            <tr><th colspan="2"> Realign</th></tr>
            {{#previousRealignsmo1}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousRealignsmo1}}
          </tbody>
        </table>
        </div>
        <div class="col-xs-4">
          <table class="table {{currentType}}-analyse-table-last">
          <thead>
            <tr class="">
              <th colspan="2" class=""><h5>Week 8 Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th colspan="2"> Successes</th></tr>
            {{#previousSuccessesmo2}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousSuccessesmo2}}

            <tr><th colspan="2"> Failures</th></tr>
            {{#previousFailuresmo2}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousFailuresmo2}}

            <tr><th colspan="2"> Realign</th></tr>
            {{#previousRealignsmo2}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousRealignsmo2}}
          </tbody>
        </table>
        </div>
        <div class="col-xs-4">
          <table class="table {{currentType}}-analyse-table-last">
          <thead>
            <tr class="">
              <th colspan="2" class=""><h5>Week 12 Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th colspan="2"> Successes</th></tr>
            {{#previousSuccessesmo3}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousSuccessesmo3}}

            <tr><th colspan="2"> Failures</th></tr>
            {{#previousFailuresmo3}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousFailuresmo3}}

            <tr><th colspan="2"> Realign</th></tr>
            {{#previousRealignsmo3}}
            <tr>
              <td class="number_col">{{inc @index}}.</td>
              <td>{{title}}</td>
            </tr>
            {{/previousRealignsmo3}}
          </tbody>
        </table>
        </div>

      </div>

      <!-- <div class="bottom">
        <div class="line">{{name}}</div>
        <div class="line">cto</div>

        <div class="group">
          <div class="line">p: +41 00 000 00 00</div>
          <div class="line">github: marcbachmann</div>
        </div>
        <div class="group">
          <div class="line">suitart ag</div>
          <div class="line">räffelstrasse 25</div>
          <div class="line">8045 zürich</div>
        </div>
      </div> -->
    </div>
    <!-- <div class="page">
      <img class="logo" src="{{image}}">
      <div class="bottom">
          <div class="line center">8045 zürich</div>
      </div>
    </div> -->
  </body>
</html>
