<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Spearity Realign Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
    {{css}}
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="/home/satwik/projects/livep/spear2/public/dist/reportsrender.css"> -->
  </head>
  <body class="container">

    <div class="page">
    <h5 class="capitalize">{{name}}'s {{currentTypeTitle}} Realign Report</h5>
      <div class="row" >
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
          <table class="plan-table table {{upType}}-table">
            <thead>
            <tr class="">
                <th colspan="2"><h5 class="uppercase"> {{upTypeTitle}} Plans</h5></th>
            </tr>
            </thead>
            <tbody>
              {{#upPlans}}
              <tr>
                <td> <div class="report-table-row"> {{title}} </div> </td>
              {{#progress}}
                <td> {{progress}} </td>
              {{/progress}}
              </tr>
              {{/upPlans}}
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
          <table class="plan-table table {{currentType}}-table">
            <thead>
                <tr class="">
                <th class="day uppercase" colspan="2"><h5><strong>{{currentTypeTitle}} Plan </strong> <span>
                  </span></h5>
                </th>
                <!-- <th class="{{currentTypeTitle}}"></th> -->
              </tr>
            </thead>
            <tbody>
                {{#currentPlans}}
              <tr>
                <td><div class="report-table-row"> {{title}}</div> </td>
                <!-- <td> {{progress}} </td> -->
                {{#progress}}
                  <td> {{progress}} </td>
                {{/progress}}

              </tr>
                {{/currentPlans}}
            </tbody>
          </table>
        </div>
      </div>
      <h5 class="capitalize">Previous {{currentType}}'s SPEAR </h5>
      <div class="row">
        <div class="col-xs-4">
          <table class="table {{currentType}}-table-last">
          <thead>
              <tr class="">
              <th colspan="2" class="{{currentType}} capitalize"><h5> <!-- {{currentTypeTitle}} Spear --> Plan</h5></th>
            </tr>
          </thead>
          <tbody>
            {{#previousPlans}}
            <tr><td>{{title}}</td></tr>
            {{/previousPlans}}
          </tbody>
        </table>
        </div>
        <div class="col-xs-4">
          <table class="table {{currentType}}-analyse-table-last">
          <thead>
            <tr class="">
              <th class=""><h5> Analyze </h5></th>
            </tr>
          </thead>
          <tbody>
            <tr><th> Successes</th></tr>
            {{#previousSuccesses}}
            <tr><td>{{title}}</td></tr>
            {{/previousSuccesses}}

            <tr><th> Failures</th></tr>
            {{#previousFailures}}
            <tr><td>{{title}}</td></tr>
            {{/previousFailures}}
          </tbody>
        </table>
        </div>
        <div class="col-xs-4">
          <table class="table {{currentType}}-realign-table-last">
          <thead>
              <tr class="">
              <th class=""><h5> Realign</h5>
              </th>
            </tr>
            </thead>
          <tbody>
            {{#previousRealigns}}
            <tr><td>{{title}}</td></tr>
            {{/previousRealigns}}
          </tbody>
        </table>
        </div>
      </div>

      <!-- <div class="bottom">
        <div class="line">{{name}}</div>
        <div class="line">cto</div>

        <div class="group">
          <div class="line">p: +41 00 000 00 00</div>
          <div class="line">github: marcbachmann</div>
        </div>
        <div class="group">
          <div class="line">suitart ag</div>
          <div class="line">räffelstrasse 25</div>
          <div class="line">8045 zürich</div>
        </div>
      </div> -->
    </div>
    <!-- <div class="page">
      <img class="logo" src="{{image}}">
      <div class="bottom">
          <div class="line center">8045 zürich</div>
      </div>
    </div> -->
  </body>
</html>
