<section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <p class="small text-center">Enter your username.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <md-button aria-label = "submit" type="submit" class="md-raised md-primary">Submit</md-button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong ng-bind="success"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
