<section ng-controller="UserListController" context = 'adminUsers'>
<table class="settings-table table">
  <thead>

  <tr>
    <th>
        <h5 class="strong"> User Management
        </h5>
    </th>
    <th >
        <span class="pull-right">
            <md-button class="md-icon-button pull-right grey-button" aria-label="Create User" ng-click ="createAccountUser()">
              <i class="mdi md-24 mdi-plus"></i>
              <md-tooltip>Create User</md-tooltip>
            </md-button>
        </span>
    </th>
  </tr>
  </thead>
</table>
  <!-- <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa-fw fa fa-user"></i> Account Users</h3>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div> -->

  <div class="row ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table datatable ="ng" class="table striped-table settings-table  display" id="user-data-table" cellspacing="0" width="100%">
      <thead>
          <tr class="">
            <th><p class=""><strong> Name </strong></p></th>
            <th><p class=""><strong> Email </strong></p></th>
            <th ng-if ="!managerView"><p class=""><strong> Supervisor </strong></p></th>
            <th ng-if ="!managerView"><p class="" ><strong> Admin </strong></p></th>
            <th ng-if ="!managerView"><p class="" ><strong> Manager </strong></p></th>
            <th ng-if ="!managerView"> <p class="text-center"><strong> Active </strong></p></th>
            <th colspan="5"> <p class=""><strong> Reports </strong></p></th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users" ng-if="shouldDisplayUser(user)">

          <td><a href="#" type="button" class="" title ="Edit User" ng-click = "editUser(user)" >{{user.firstName}}
              </a>  </td>

          <td class="" ng-bind="user.email"> </td>
          <td ng-if ="!managerView">
            <a href="#" editable-select="user.manager" buttons="no" e-ng-options="s._id as s.firstName for s in managers" onbeforesave="updateAssignedTo(user, $data)">{{ showUser(user) }}</a>
          </td>
          <td ng-if ="!managerView">  <!-- Admin role toggle -->
            <md-button  class="md-icon-button" aria-label="Toggle User Status" ng-click="toggleUserRole(user)">
              <i class="mdi md-18 txt-color-blueLight" ng-class="isUser(user,'admin')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
            </md-button>
          </td>
          <td ng-if ="!managerView"> <!-- Manager role toggle -->
            <md-button  class="md-icon-button" aria-label="Toggle User Status" ng-click="assignManager(user)" ng-disabled = "isUser(user,'admin')">
              <i class="mdi md-18 txt-color-blueLight" ng-class="isUser(user,'manager')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
            </md-button>
          </td>
          <td class="text-center" ng-if ="!managerView">
            <!-- <div class="text-center"> -->
              <a class="md-button md-icon-button" aria-label="Toggle User Status" ng-click="toggleUserActive(user)">
                <i class="mdi md-18 txt-color-blueLight" ng-class="user.active == 1?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>
              </a>
              <a class="md-button md-icon-button" aria-label="Delete User" ng-click="deleteUser(user)">
                  <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
              </a>
            <!-- </div> -->
          </td>


          <td class="button-col-1">
            <div class="text-center button-col-1 row-button">
              <md-button class="md-icon-button day" aria-label ="Done" ng-click="reportIn(user, 'day')">
                <i class="mdi md-18" ng-class="reportSelected(user, 'day')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
          <td class="button-col-1">
            <div class="text-center button-col-1 row-button">
              <md-button class="md-icon-button week" aria-label ="Done" ng-click="reportIn(user, 'week')">
                <i class="mdi md-18" ng-class="reportSelected(user, 'week')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
          <td class="button-col-1">
            <div class="text-center button-col-1 row-button">
              <md-button class="md-icon-button month" aria-label ="Done" ng-click="reportIn(user, 'month')">
                <i class="mdi md-18" ng-class="reportSelected(user, 'month')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
            <!-- <div class="text-center button-col-1 row-button" ng-show="!vm.showMonthbuttons(todo)"style="min-height: 40px;"></div> -->
          </td>
          <td class="button-col-1">
            <div class="text-center button-col-1 row-button">
              <md-button class="md-icon-button quarter" aria-label ="Done" ng-click="reportIn(user, 'quarter')">
                <i class="mdi md-18" ng-class="reportSelected(user, 'quarter')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
              </md-button>
              </div>
          </td>
          <td class="button-col-1">
            <div class="text-center button-col-1 row-button">
              <md-button class="md-icon-button annual" aria-label ="Done" ng-click="reportIn(user, 'annual')">
                <i class="mdi md-18" ng-class="reportSelected(user, 'annual')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <!-- <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div> -->

<!--   <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination> -->
</section>
