<section>
  <div class="">
    <div class="row titleRow">
      <div class="col-md-12">
        <p class="pageTitle"><i class="fa-fw fa fa-user"></i> All Users</p>
      </div>
      <!-- <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div> -->
    </div>
  </div>
    <div class="row" style="padding-bottom: 20px;">
</div>
  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 admin-table-wrapper">
      <table datatable ="ng" class="admin-table display" id="user-data-table" cellspacing="0" width="100%">
        <thead>
            <tr class="">
              <th><h4 class=""> Name </h4></th>
              <th><h4 class="text-center"> Spears </h4></th>
              <th><h4 class="text-center"> Role </h4></th>
              <th><h4 class="text-center"> Email </h4></th>
              <th><h4 class="text-center"> Status </h4></th>
              <th> <h4 class="pull-right"> Account Name </h4></th>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users">
            <td >
              <a href="#" type="button" class="" title ="Edit User" ng-click = "editUser(user)" >{{user.firstName}}
              </a>
                <!-- <div class="pull-right edit-controls">
                              <a href="#/spear/day/<% user.id %>" type="button" class="btn btn-default" title ="Daily Spear" >
                                      <i class="fa fa-inbox txt-color-darkblue"></i>
                              </a>
                              <a href="#/spear/week/<% user.id %>" type="button" class="btn btn-default" title ="Weekly Spear">
                                      <i class="fa fa-bar-chart txt-color-darkblue"></i>
                              </a>
                              <a href="#/spear/quarter/<% user.id %>" type="button" class="btn btn-default" title ="Quarterly Spear">
                                      <i class="fa fa-table txt-color-darkblue"></i>
                              </a>
                          </div> -->
            </td>
            <td>
                <a href="./spear/user/day/{{user._id}}" title ="Spear" class="txt-color-red">
                  <i class="mdi md-18 mdi-view-day"></i>
                </a>
                <a href="./spear/user/week/{{user._id}}" title ="Spear" class="txt-color-green">
                  <i class="mdi md-18 mdi-view-column"></i>
                </a>
                <a href="./spear/user/quarter/{{user._id}}" title ="Spear" class="txt-color-blue">
                  <i class="mdi md-18 mdi-view-grid"></i>
                </a>

                <a href="./spear/user/annual/{{user._id}}" title ="Spear" class="txt-color-purple">
                  <i class="mdi md-18 mdi-view-module"></i>
                </a>

                <a href="./spear/user/quarterPlanner/{{user._id}}" title ="Spear" class="txt-color-blue">
                  <i class="mdi md-18 mdi-view-grid"></i>
                </a>
                <a href="./spear/user/annualPlanner/{{user._id}}" title ="Spear" class="txt-color-purple">
                  <i class="mdi md-18 mdi-view-module "></i>
                </a>
            </td>
            <td>
                          <ul class="list-inline">
                              <li ng-repeat="role in user.roles">{{role}}</li>
                          </ul>
            </td>
            <td class="text-center">
              <a href="mailto:{{user.email}}?Subject=Your%20Spear" target="_top">{{user.email}}</a>
             </td>
             <td>
                <a href="#" ng-click="deleteUser(user)" title ="Spear" class="">
                  <i class="mdi md-18 mdi-delete-variant"></i>
                </a>
                <a ng-click="toggleUserActive(user)" title ="Spear" class="">
                  <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="user.active != 1"></i>
                  <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="user.active == 1"></i>
                </a>
                </td>
            <td class="text-center" ng-bind="user.account.title"> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div> -->

<!--   <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination> -->
</section>
