<md-dialog aria-label="Edit User" style = "width:47%;" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit {{data.title}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" style="padding-top:7px;padding-bottom:6px;">
        <h5 class="header_fontWeight">Information</h5>
        <ng-form name="nameDialog" novalidate role="form">
          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
            <label class="control-label" for="course">UserName:</label>
            <input type="text" class="form-control" name="username" id="username" ng-model="data.username" ng-keyup="hitEnter($event)" required>
          </div> -->
          <div class="form-inline">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.firstName.$dirty && nameDialog.firstName.$invalid]">
              <span>First Name </span>
              <input type="text" class="form-control"  name="firstName" id="firstName" ng-model="user.firstName" md-autofocus ng-keyup="hitEnter($event)" required>
            </div>
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.lastName.$dirty && nameDialog.lastName.$invalid]">
              <span>Last Name </span>
              <input type="text" class="form-control" name="lastName" id="lastName" ng-model="user.lastName" ng-keyup="hitEnter($event)" required>
            </div>
          </div>
          <div class="form-inline form-group input-group-md element_spacing"  ng-class="{true: 'has-error'}[nameDialog.email.$dirty && nameDialog.email.$invalid]">
            <span>Email </span>
            <input type="text" class="form-control" style="width:86%;" name="email" id="email" ng-model="user.email" ng-keyup="hitEnter($event)" required>
          </div>
          <h5 class="header_fontWeight">Assigned</h5>
          <div class="form-inline">
            <span>Supervisor </span>
            <select class="form-control" style="width:60%;" ng-model = "user.manager" ng-options = "s._id as s.firstName for s in managers"></select>
          </div>
          <div class="form-inline element_spacing">
            <span>Coach <span>
            <select class="form-control" style="width:60%;"></select>
          </div>
          <h5 class="header_fontWeight margin_bottom-0">Status</h5>

            <div class="form-inline">
              <div class="pull-left line-height">Admin</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="toggleAdminCheck()" ><i class="mdi md-24" ng-class="isUser(user,'admin')?'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div>
              <div class="pull-left"><div class="pull-left line-height">Manager</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="toggleManagerCheck()" ng-disabled="isUser(user,'admin')" disabled="disabled"><i class="mdi md-24" ng-class="isUser(user,'manager')?'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div></div>
              <div class="pull-left"><div class="pull-left line-height">Active</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="toggleActiveCheck()"><i class="mdi md-24" ng-class="user.active == 1?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i></md-button></div></div>
              <div class="pull-left"><div class="pull-left line-height ">Delete</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="deleteUser()"><i class="mdi md-24 mdi-delete-variant"></i></md-button></div></div>
            </div>
            <br />
            <br />
            <h5 class="header_fontWeight margin_bottom-0 width-20">Reports</h5>
            <div class="form-inline pull-left">
              <div class="pull-left"><div class="pull-left line-height">Daily</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="reportIn(user, 'day')"><i class="mdi md-24" ng-class="reportSelected(user, 'day')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div></div>
              <div class="pull-left"><div class="pull-left line-height">Weekly</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="reportIn(user, 'week')"><i class="mdi md-24" ng-class="reportSelected(user, 'week')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div></div>
              <div class="pull-left"><div class="pull-left line-height">Monthly</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="reportIn(user, 'month')"><i class="mdi md-24" ng-class="reportSelected(user, 'month')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div></div>
              <div class="pull-left"><div class="pull-left line-height">Quarterly</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="reportIn(user, 'quarter')"><i class="mdi md-24" ng-class="reportSelected(user, 'quarter')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div></div>
              <div class="pull-left"><div class="pull-left line-height">Annual</div><div class="pull-left"><md-button class="md-icon-button" style="margin-left:0px;padding-left:0px;" ng-click="reportIn(user, 'annual')"><i class="mdi md-24" ng-class="reportSelected(user, 'annual')? 'mdi-checkbox-marked-outline': 'mdi-checkbox-blank-outline'"></i></md-button></div></div>
          </div>
        </ng-form>
      </div>
      <br />
      <br />
      <p class="text-center color-red" ng-bind="errors"></p>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="save(user)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
