<md-dialog aria-label="New User"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New {{data.title}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">
            <label class="control-label" for="course">UserName:</label>     
            <input type="text" class="form-control" name="username" id="username" ng-model="data.username" ng-keyup="hitEnter($event)" required>
          </div> -->
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.email.$dirty && nameDialog.email.$invalid]">
            <label class="control-label" for="course">Email:</label>     
            <input type="text" class="form-control" name="email" id="email" ng-model="data.email" md-autofocus ng-keyup="hitEnter($event)" required>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.firstName.$dirty && nameDialog.firstName.$invalid]">
            <label class="control-label" for="course">First Name:</label>     
            <input type="text" class="form-control" name="firstName" id="firstName" ng-model="data.firstName" ng-keyup="hitEnter($event)" required>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.lastName.$dirty && nameDialog.lastName.$invalid]">
            <label class="control-label" for="course">Last Name:</label>     
            <input type="text" class="form-control" name="lastName" id="lastName" ng-model="data.lastName" ng-keyup="hitEnter($event)" required>
          </div>
        </ng-form>
      </div>
      <p class="text-center color-red" ng-bind="errors"></p>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>