<section>
  <div class="">
    <div class="row titleRow">
      <div class="col-md-12">
        <p class="pageTitle"><i class="fa-fw fa fa-user-plus"></i> System Managers</p>
      </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
<div class="col-lg-12 text-center">
  <md-button aria-label="New Manager" class="md-primary md-raised" ng-click="createSuperUser()">
        <i class="fa-lg fa fa-user-plus"></i>&nbsp; New Manager
  </md-button>
</div>
</div>
  </div>

  <div class="row ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 admin-table-wrapper">
    <table datatable ="ng" class="admin-table display" id="user-data-table" cellspacing="0" width="100%">
      <thead>
          <tr class="">
            <th><h4 class=""> Name </h4></th>
            <th><h4 class="text-center"> Manager Permission </h4></th>
            <th><h4 class="text-center"> Email </h4></th>
            <th> <h4 class="pull-right"> Active </h4></th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
          <td ng-bind ='user.username'>  </td>
          <td>
            <!-- <ul class="list-unstyled"> -->
              <!-- <li ng-repeat="role in user.roles" ng-if=> -->
                <md-button class="md-icon-button" aria-label="Toggle User Status" ng-click="toggleUserRole(user)">
                  <i class="mdi md-18 mdi-checkbox-marked-outline" ng-if="isUser(user,'superAdmin')"></i>
                  <i class="mdi md-18 mdi-checkbox-blank-outline" ng-if="!isUser(user,'superAdmin')"></i>
                </md-button>
              <!-- </li> -->
            <!-- </ul> -->
          </td>
          <td class="text-center" ng-bind="user.email"> </td>
          <td class="text-center">
            <div class="pull-right edit-controls">

              <md-button class="md-icon-button" aria-label="Toggle Active" ng-click ="toggleUserActive(user)">
                <i class="mdi md-18 mdi-checkbox-marked-outline" ng-if="user.active"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline" ng-if="!user.active"></i>
                <md-tooltip>Toggle Active</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" aria-label="Delete User" ng-click="deleteUser(user)">
                  <i class="mdi md-18 mdi-delete-variant"></i>
              </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <!-- <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div> -->

<!--   <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination> -->
</section>
