<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Hello,</p>
  <br />
  <p>
    {{name}}
    <br/>
    has requested to share his report for his account at {{appName}} with you.
  </p>
  <p> Please find the attached..</p>
  <!-- <strong>If you didn't make this request, you can ignore this email.</strong> -->
  <br />
  <!-- <p></p> -->
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>
