<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Hello {{user.firstName}},</p>
  <h1>{{title}}</h1>
  <h4>{{dateInFormat}}</h4>
  <br />

{{#if displayDay}}
  <p><b>Plans Today</b></p>
  <table>
    <thead>
      <tr>
        <th>Plans Today</th>
        <!-- <td>Type</td> -->
        <!-- <td># Users</td> -->
      </tr>
    </thead>
    <tbody>
      {{#each day}}
      <tr>
        <td>{{this.title}}</td>
        <!-- <td>{{this.due_by}}</td> -->
        <!-- <td>1</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />
  {{/if}}
  
  <p><b>Plans This Week</b></p>
  <table>
    <thead>
      <tr>
        <th>Plans This Week</th>
        <!-- <td>Type</td> -->
        <!-- <td># Users</td> -->
      </tr>
    </thead>
    <tbody>
      {{#each week}}
      <tr>
        <td>{{this.title}}</td>
        <!-- <td>{{this.due_by}}</td> -->
        <!-- <td>1</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  <p><b>To-Dos Due This Week</b></p>
  <table>
    <thead>
      <tr>
        <th>To-Dos Due This Week</th>
        <th>Due by</th>
        <!-- <td># Users</td> -->
      </tr>
    </thead>
    <tbody>
      {{#each todoDue}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{dateFormat this.due_by}}</td>
        <!-- <td>1</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  <p><b>To-Dos Past Due </b></p>
  <table>
    <thead>
      <tr>
        <th>To-Dos Past Due</th>
        <th>Due By</th>
        <!-- <td># Users</td> -->
      </tr>
    </thead>
    <tbody>
      {{#each todoPastDue}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{dateFormat this.due_by}}</td>
        <!-- <td>1</td> -->
      </tr>
      {{/each}}
    </tbody>
  </table>
  <br />

  
  <br/>
  <p>The {{appName}} Support Team</p>
</body>

</html>
