<md-menu md-offset="0 50" md-position-mode="target-right target">
  <md-button class="md-icon-button" style="margin: 0px" ng-click="$mdOpenMenu($event)">
  <i class="mdi md-24 mdi-file-chart"></i>
  </md-button>
  <md-menu-content width="4">
  <md-whiteframe class="md-whiteframe-0dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center"style="min-height: 140px;">
    <table>
      <thead>
        <tr>
          <th colspan="2"> <p><b>Add to Report</b></p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Weekly</p></td>
          <td>
            <div class="text-center button-col-1">
              <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon-button week" aria-label ="Done" ng-click="addToReport('week')" ng-disabled='true'>
                <i class="mdi md-18" ng-class="todo.week?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
        </tr>
        <tr>
          <td><p>Monthly</p></td>
          <td>
            <div class="text-center button-col-1">
              <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon-button month" aria-label ="Done" ng-click="addToReport('month')">
                <i class="mdi md-18" ng-class="todo.reportInmonthproxy?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
        </tr>
        <tr>
          <td><p>Quarterly</p></td>
          <td>
            <div class="text-center button-col-1">
              <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon-button quarter" aria-label ="Done" ng-click="addToReport('quarter')" ng-disabled='true'>
                <i class="mdi md-18" ng-class="todo.quarter?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
        </tr>
        <tr>
          <td><p>Annual</p></td>
          <td>
            <div class="text-center button-col-1">
              <md-button md-prevent-menu-close="md-prevent-menu-close" class="md-icon-button annual" aria-label ="Done" ng-click="addToReport('annaul')" ng-disabled='true'>
                <i class="mdi md-18" ng-class="todo.annual?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>
              </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-whiteframe>
    <md-menu-item>
      <span flex></span>
      <md-button class="uppercase pip-button"> <span class="text-center"> Cancel</span>
      </md-button>
      <md-button class="md-raised pip-button uppercase grey-button md-primary" ng-click="saveToReport()"> Send
      </md-button>

    </md-menu-item>
  </md-menu-content>
</md-menu>
