<md-menu md-offset="0 50" md-position-mode="target-right target">
  <md-button class="md-icon-button" style="margin: 0px" ng-click="$mdOpenMenu($event)">
  <i class="mdi md-24" ng-class="todo.assignedTo?'mdi-account-check':'mdi-account-outline'"></i>
  </md-button>
  <md-menu-content width="4">
  <md-whiteframe class="md-whiteframe-0dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center" style="min-height: 140px;">

    <ng-form name="nameDialog" novalidate role="form">
      <!-- <label class="control-label" for="course"></label> -->
      <p><b>Assign Task</b></p>
      <select class="form-control" name="category" ng-model="data.assignTo" ng-keyup="hitEnter($event)" required ng-options="opt._id as opt.firstName for opt in users" md-placeholder="Pick one." style="width: 200px;"></select>
    </ng-form>

  </md-whiteframe>
    <md-menu-item>
      <span flex></span>
      <md-button class="uppercase pip-button"> <span class="text-center"> Cancel
        </span>
      </md-button>
      <md-button class="md-raised pip-button grey-button uppercase md-primary" ng-click="assignPlan()"> Assign
      </md-button>

    </md-menu-item>
  </md-menu-content>
</md-menu>
