<md-menu md-offset="0 50" md-position-mode="target-right target">
  <md-button class="md-icon-button" style="margin: 0px" ng-click="$mdOpenMenu($event)">
    <i class="mdi md-24 mdi-calendar-plus"></i>
  </md-button>
  <md-menu-content width="2" md-prevent-menu-close="md-prevent-menu-close" style = "max-height: inherit;">
  <md-whiteframe class="md-whiteframe-0dp md-dialog-content" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" style="min-height: 140px; padding: 15px; max-width: 350px;">
  <p><b>Add To Calendar</b></p>
    <div class="row">
    <div class="col-md-12 col-xs-12">
      <p><!-- <b>Title</b> -->
        <span>
        <input type="text" class="form-control" name="description" ng-model="data.title" ng-keyup="hitEnter($event)" required>
        </span>
        </p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
      <!-- </div> -->
      <!-- <div class="col-md-10 col-xs-8"> -->
      <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.calendar.$touched && nameDialog.calendar.$invalid]">

        <p style="line-height: 34px">Calendar<span>
        <!-- <label class="control-label" for="course">Calendar</label> -->
        <select class="form-control" name="calendar" id="calendar" ng-model="data.calendar" ng-keyup="hitEnter($event)" required ng-options="opt as opt.summary for opt in calendars" style="display: inherit; width: inherit;"></select>
        </span></p>
        <!-- </div> -->
      </div>
      </div>
    </div>
    <div class="row" style="padding-bottom: 8px;">
      <div class="col-md-6 col-xs-6" style="padding-right: 4px; max-width: 150px;">
        <input class="form-control" pikaday="myPickerObject" ng-model="data.date" ng-change = "dateChanged()">
    </div>
      <div class="col-md-3 col-xs-6" style="padding: 0px; max-width: 80px;">
        <input style="width: 100%" class="form-control"  ng-model="data.start" ng-disabled='!data.calendar' ng-change = "startChanged()" ui-timepicker="options"/>
      </div>
      <div class="pull-left"><p style="line-height: 36px; padding: 0px 0px 0px 4px">to</p></div>
      <div class="col-md-3 col-xs-6" style="padding-left: 4px; padding-right: 0px; max-width: 80px; margin-right: 16px">
          <input style="width: 100%" class="form-control" ng-model="data.end" ng-disabled='!data.calendar' ui-timepicker="options"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
          <!-- <label class="control-label" for="course">Description</label> -->
          <p>Description <span>
          <textarea rows = "2" class="form-control" name='title'  ng-model = "data.calDescription" md-placeholder="Event Description"></textarea>
          </span></p>
        </div>
      </div>
    </div>
  </md-whiteframe>
    <md-menu-item>
      <span flex></span>
      <md-button class="uppercase pip-button"> <span class="text-center"> Cancel
      </md-button>
      <md-button class="md-raised pip-button uppercase grey-button md-primary" ng-click="addToCalender()"> Add
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
