<md-button class="md-icon-button" aria-label =  "Add to Google Calender"
  ng-click="addToCalender(todo)">
      <i class="fa fa-fw fa-calendar txt-color-green"></i>
    <md-tooltip>Add to Google Calender</md-tooltip>
  </md-button>