<md-dialog aria-label="New Todo"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Copy </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
            <label class="control-label" for="course">Period</label>
            <select class="form-control" name="category" id="category" ng-model="data.selected" ng-keyup="hitEnter($event)" required                ng-options="opt as opt for opt in data.options" md-placeholder="Pick one." ng-change="selectChanged()"></select>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.due_by.$dirty && nameDialog.due_by.$invalid]">
            <label class="control-label" for="course">Due</label>   

            <!-- <input type="text" class="form-control date-picker" id="due_by" ng-model="data.due_by" ng-change = "updateDueBy(todo)" data-date-type="number" data-autoclose="1" name="due_by" bs-datepicker> -->
            <input pikaday="myPickerObject" ng-model="data.due_by" style="width: 140px; padding:3px; margin: 3px;">

            <!-- <md-datepicker name="due_by" md-min-date = minDate md-placeholder="Pick a Date"></md-datepicker> -->
          </div>
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>