<section ng-cloak>
<div class="row">
        <div class="col-md-12">
          <table class="plan-table table table-hover {{ type }}-table">
            <thead>
            <tr class="">
                <th colspan="2"><a ui-sref = "{{type}}spear">
                <h5 class="title"> {{getTypely(type)}} Spear</h5></a></th>
                <th> <!-- <h4 class="pull-right">Status</h4>  --></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='(i, todo) in todos ' style="height: 50px;" on-finish-render="ngRepeatFinished">
              <td style="width: 24px" ng-bind ="i+1"></td>
              <td ng-class="{'plan_done': !todo.active}" >
                  <a href="#" ng-click="addEditTodoDialog(todo)"> {{todo.title |limitTo:50 || 'New Plan'}} {{todo.title.length > 50 ? '&hellip;' : ''}} </a>
              </td>
              <td class="" style="width: 57px; padding-top: 0px !important;">
                <div class="pull-right row-button">
              <copy-button todo = "todo" on-edit="copyPalnPopoup(todo)"></copy-button>
              <done-button todo = "todo" on-edit="toggleCheck(todo)"></done-button>

                  <!-- <md-button class="md-icon-button" aria-label =  "Copy to .."
                  ng-click="copyPalnPopoup(todo)">
                      <i class="mdi mdi-content-copy"></i>
                    <md-tooltip>Copy to ..</md-tooltip>
                  </md-button> -->

                  <!-- <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                      <i class="fa fa-fw fa-ellipsis-v"></i>
                    </md-button>
                    <md-menu-content width="2">
                      <md-menu-item>
                  <md-button  aria-label ="Delete Plan" ng-click="deletePlan(todo)">
                      <i class="fa fa-fw fa-trash-o txt-color-red"></i> Delete Plan
                    <md-tooltip>Delete Plan</md-tooltip>
                  </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
</section>
