<md-menu md-offset="0 -50" md-position-mode="target-right target">
  <md-button class="md-icon-button" style="margin: 0px" ng-click="$mdOpenMenu($event)">
  <i class="mdi md-24 mdi-delete-variant"></i>
  </md-button>
  <md-menu-content width="4">
  <md-whiteframe class="md-whiteframe-0dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center" style="min-height: 140px;">
    <ng-form name="nameDialog" novalidate role="form">
      <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
      <p><b>Delete Task ?</b></p>
      <P> Are you sure? This cannot be undone. </P>
      <!-- <table> -->
        <!-- <tr> -->
          <!-- <td style="padding-right: 4px;"><p>Period</p></td> -->
          <!-- <td style="padding-bottom: 4px;"> -->
            <!-- <select class="form-control" name="category" id="category" ng-model="data.selected" ng-keyup="hitEnter($event)" required ng-options="opt as opt for opt in data.options" md-placeholder="Pick one." ng-change="selectChanged()"></select> -->
          <!-- </td> -->
        <!-- </tr> -->
        <!-- <tr> -->
          <!-- <td style="padding-right: 4px;"><p>Due</p></td> -->
          <!-- <td style="padding-bottom: 4px;"> -->
            <!-- <input class="form-control" pikaday="myPickerObject" ng-model="data.date" style="width: 140px; padding:3px;"> -->
          <!-- </td> -->
        <!-- </tr> -->
      <!-- </table> -->
      </div>
    </ng-form>
  </md-whiteframe>
    <md-menu-item>
    <span flex></span>
      <md-button class="uppercase pip-button"> <span class="text-center"> Cancel
      </md-button>
      <md-button class="md-raised pip-button uppercase grey-button md-primary" ng-click="deletePlan()"> Delete
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
