<md-button class="md-icon-button" aria-label ="Delete Plan" ng-click="deletePlan(todo)">
                        <i class="mdi md-18 mdi-delete-variant"></i>  
                      <md-tooltip>Delete Plan</md-tooltip>
                    </md-button>
