<md-menu class="buttonMenu" md-offset="0 50">
  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
    <i class="mdi md-18 mdi-dots-vertical"></i>
    <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
  </md-button>
  <md-menu-content width="2" class="buttonMenu">
    <!-- <md-menu-item>
      <md-button class="md-icon-button" aria-label =  "Add to Google Calender"
      ng-click="addToCalender(todo)">
        <i class="mdi md-18 mdi-calendar-plus txt-color-green"></i>
      <md-tooltip>Add to Calender</md-tooltip>
      </md-button>
    </md-menu-item> -->
    <md-menu-item >
      <md-button class="md-button" aria-label ="Delete Plan" ng-click="deletePlanConfirm(todo)"> Delete Task &nbsp;
          <i class="mdi md-18 mdi-delete-variant"></i>
        <!-- <md-tooltip>Delete</md-tooltip> -->
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
