<md-dialog aria-label="New Todo"  ng-cloak flex="66" style="min-width: 50%;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>To-Do</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
              <label class="control-label" for="course">Description</label>
              <textarea rows = "4" class="form-control" name='title' id='title' ng-model = todo.title md-autofocus md-placeholder="What's to-do? "></textarea>
            </div>
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.assignedTo.$dirty && nameDialog.assignedTo.$invalid]">
            <label class="control-label" for="course">Assigned To:</label>
            <select class="form-control" name="assignedTo" id="assignedTo" ng-model="todo.assignedTo" ng-keyup="hitEnter($event)" required                ng-options="opt as opt.firstName for opt in data.users" ></select>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
            <label class="control-label" for="course">Category:</label>
            <select class="form-control" name="category" id="category" ng-model="todo.category" ng-keyup="hitEnter($event)" required                ng-options="opt._id as opt.title for opt in data.category" ></select>
          </div>

              <md-button class="md-raised " ng-click="markDone()">
              <i class="mdi md-18 mdi-checkbox-marked-outline"></i> 
              Mark Done</md-button>
              <md-button class="md-raised " ng-click="save(nameDialog)">
              <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
              Delete</md-button>

          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.due_by.$dirty && nameDialog.due_by.$invalid]">
              <!-- <label class="control-label" for="due_by">Due</label>    -->
              <md-datepicker name="due_by" id="due_by" ng-model="todo.due_by" ng-change = "updateDueBy(todo)" md-min-date = minDate md-placeholder="Pick a Date"></md-datepicker>
            </div>
            <!-- <md-divider></md-divider> -->
            <div class="row">
            <div class="col-md-8 col-xs-12" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
              <!-- <label class="control-label" for="course"> -->
            <h4>Copy to <span>

              <!-- </label> -->
              <select class="form-control" name="category" id="category" ng-model="data.selected" ng-keyup="hitEnter($event)" required                ng-options="opt as opt for opt in data.options" md-placeholder="Pick one." ng-change="selectChanged()" style="display: inherit; min-width: 50%; width: inherit;"></select>
            </span> </h4>
            </div>
            <div class="col-md-4 col-xs-12">
              <md-button class="md-raised " ng-click="copyPlan()" ng-disabled='!data.selected'>
              <i class="fa fa-fw fa-copy"></i>
              Copy</md-button>
            </div>
            </div>
          <!-- </div>
          <div class="col-md-4 col-xs-12"> -->
          <!-- <h4>Copy to &nbsp;<span>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click = copyPlan('day')>Day</button>
              <button type="button" class="btn btn-default" ng-click = copyPlan('week')>Week</button>
              <button type="button" class="btn btn-default" ng-click = copyPlan('quarter')>Quarter</button>
              <button type="button" class="btn btn-default" ng-click = copyPlan('To-Do')>To-Do</button>
            </div>
          </span>
          </h4> -->
            <md-divider></md-divider>
          <div class="row">
            <div class="col-md-8 col-xs-12">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.calendar.$touched && nameDialog.calendar.$invalid]">
              <h4>Calendar
              <span>
              <!-- <label class="control-label" for="course">Calendar</label> -->
              <select class="form-control" name="calendar" id="calendar" ng-model="data.calendar" ng-keyup="hitEnter($event)" required ng-options="opt as opt.summary for opt in calendars" style="display: inherit; min-width: 50%; width: inherit;"></select>
              </span>
              </h4>
            </div>
            </div>
          <div class="col-md-4 col-xs-6">
            <md-button class="md-raised" ng-click="addToCalender" ng-disabled='!data.calendar'>
              <i class="fa fa-fw fa-calendar"></i>
            Add</md-button>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-6">
            <!-- <p class="input-group"> -->
            <!-- Date -->
              <input style="width: 100%" ng-disabled='!data.calendar' type="text" class="" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="data.date" is-open="popup1.opened" datepicker-options="dateOptions" show-button-bar = false ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          </div>
          <!-- <span class=""> -->
            <!-- <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button> -->
            <div class="col-md-4 col-xs-6">
              <input style="width: 100%"  ng-model="data.start" ng-disabled='!data.calendar' ng-change = "startChanged()" ui-timepicker="options" id="testid"/>
            </div>
            <div class="col-md-4 col-xs-6">
              <!-- <p>to <span> -->
                <input style="width: 100%" ng-model="data.end" ng-disabled='!data.calendar' ui-timepicker="options" id="testid2"/>
              <!-- </span></p> -->
            </div>
          <!-- </span> -->
        <!-- </p> -->
          </div>


          </div>
        </div>
          <!-- </div> -->

        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
