<!-- <a href="#" editable-text="todo.title" buttons="no" onbeforesave="updatePlan(todo, $data)"> {{todo.title | limitTo: 70 || 'New Plan' }} </a> -->
<!-- <a href="#" ng-click="updatePlanDialog(todo)"> {{todo.title | limitTo: 70 || 'New Plan' }} </a> -->
<a href="#" ng-click="addEditTodoDialog(todo)"> {{todo.title |limitTo:90 || 'New Plan'}} {{todo.title.length > 90 ? '&hellip;' : ''}} </a>