<md-dialog aria-label="New Todo"  ng-cloak flex="66" style="min-width: 55%; max-width:710px;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Plan</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
              <!-- <label class="control-label" for="course">Description</label> -->
              <p><b>Description</b></p>
              <textarea rows = "4" class="form-control" name='title' id='title' ng-model = data.title md-autofocus ></textarea>
            </div>

          </div>
          <div class="col-md-4 col-xs-12 col-sm-6" style="width: 210px;">
          <p><b>Information</b></p>
            <!-- <div class="row">               -->
            <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.due_by.$dirty && nameDialog.due_by.$invalid]"> -->
              <!-- <label class="control-label" for="due_by">Due</label>    -->
              <!-- <p> <span class="pull-left" style="line-height: 40px; padding-right: 8px;"> Due</span><span class="pull-left"> -->
                  <!-- <input pikaday="myPickerObject" ng-model="todo.due_by" style="width: 140px; padding:3px; margin: 3px;"> -->
                <!-- <input type="text" class="form-control date-picker" data-date-type="number" data-autoclose="1" name="due_by" bs-datepicker> -->
              <!-- </div> -->
              <!-- </span> -->
              <!-- </p> -->
            <!-- </div> -->
            <table>
              <tr>
                <td style="padding-right: 4px;">Due</td>
                <td style="padding-bottom: 4px;">
                  <input class="form-control" pikaday="myPickerObject" ng-model="todo.due_by" style="width: 140px;">
                </td>
              </tr>
              <tr ng-if = "!todo.spear">
                <td style="padding-right: 4px;">Category</td>
                <td><select class="form-control" name="category" ng-model="todo.category" ng-keyup="hitEnter($event)" required ng-options="opt._id as opt.title for opt in todoCategories" ng-change="categoryChanged(todo, data)" style="width: 140px;"></select></td>
              </tr>
            </table>
            <table style="clear: both;">
              <tr >
                <td > Mark Completed</td>
                <td class="pull-right">
                  <md-button class="md-icon-button" style="margin: 0px" ng-click="markDone()"><i class="mdi md-24" ng-class="todo.active?'mdi-checkbox-blank-outline': 'mdi-checkbox-marked-outline'"></i></md-button></td>
              </tr>
              <tr>
                <td> Delete Task</td>
                <td class="pull-right" ng-include = "'/modules/todo/client/views/delete-todo-menu.client.view.html'"></td>
              </tr>

              <!-- <tr>
                <td > Delete Task</td>
                <td class="pull-right"><md-button class="md-icon-button" style="margin: 0px" ng-click="deletePlan()">
                <i class="mdi md-24 mdi-delete-variant"></i>
                </md-button></td>
              </tr> -->
              <!-- <tr>
                <td > Category</td>
                <td class="pull-right">
                </td>
              </tr> -->
            </table>
            <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.due_by.$dirty && nameDialog.due_by.$invalid]" ng-if="!todo.spear"> -->
              <!-- <label class="control-label" for="due_by">Due</label>    -->
              <!-- <p> <span class="pull-left" style="line-height: 40px; padding-right: 8px;"> Category</span><span class="pull-left"> -->
                <!-- <select class="form-control" name="category" ng-model="todo.category" ng-keyup="hitEnter($event)" required ng-options="opt._id as opt.title for opt in todoCategories" md-placeholder="Pick one." ng-change="categoryChanged(todo, data)"></select> -->
              <!-- </span> -->
              <!-- </p> -->
            <!-- </div> -->
            </div>
            <!-- <md-divider></md-divider> -->
            <div class="col-md-3 col-xs-12 col-sm-6" style="width: 180px;">
              <p><b>Activity</b></p>
            <table>
              <tr>
                <td> Copy Task</td>
                <td class="pull-right" ng-include = "'/modules/todo/client/views/copy-todo-menu.client.view.html'"></td>
              </tr>
              <tr>
                <td> Add to Calender </td>
                <td class="pull-right" ng-include = "'/modules/todo/client/views/calendar-todo-menu.client.view.html'"></td>
              </tr>
              <tr>
                <td> Add to Report </td>
                <td class="pull-right" ng-include = "'/modules/todo/client/views/add-to-report-todo-menu.client.view.html'"></td>
              </tr>
              <tr><td> Assign Task </td>
              <td class="pull-right" ng-include = "'/modules/todo/client/views/assign-to-todo-menu.client.view.html'"></td>
              </tr>
            </table>
            </div>
            <!-- <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak> -->

            <!-- </div> -->
          </div>
        <!-- </div> -->
          <!-- </div> -->

        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="margin-bottom: 10px;">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px; margin-left: 20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
