<section ng-cloak>
<div class="row">
        <div class="col-md-12 todoDnd">
          <table class="plan-table table table-hover {{ type }}-table">
      <thead>
          <tr class="">
          <th class="{{type}} uppercase" colspan="2"><h5><strong>{{getTypely()}} Plan </strong> <span>
            </span></h5>
          </th>
          <th class="{{type}}">
            <md-button class="md-icon-button pull-right add-button" aria-label="Add Plan" ng-click="vm.addPlan()">
            <i class="mdi md-24 mdi-plus"></i><md-tooltip>Add Plan</md-tooltip>
          </md-button>
          </th>
        </tr>
        </thead>
    </table>
        <ul dnd-list = "vm.todos" dnd-drop="dropCallback(event, index, item)" class="plan-table">
              <li ng-animate="'animate'" ng-repeat='(i, todo) in vm.todos ' style="min-height: 50px;" on-finish-render="ngRepeatFinished"
                dnd-draggable="todo"
                dnd-moved=""
                dnd-effect-allowed="move"
                ng-class="{'plan_done': !todo.active}" >
                <div class="row">
                  <div class="col-md-1 col-xs-1" style="line-height: 45px;">
                {{i+1}} &nbsp;&nbsp;
                  </div>
                  <div class="col-md-8 col-xs-7" ng-include ="'modules/todo/client/views/editinplace-todo.client.template.html'">
                  </div>
                  <div class="col-md-3 col-xs-4 pull-right dnd-row-button row-button">
                    <div class="pull-right" ng-include="'modules/todo/client/views/dropdown-button-todo.client.template.html'"></div>
                    <copy-button todo = "todo" on-edit="copyPalnPopoup(todo)"></copy-button>
                    <done-button todo = "todo" on-edit="toggleCheck(todo)"></done-button>
                  </div>
                </div>
              </li>

            </ul>
        <!-- <h4 ng-if ="vm.todos.length == 0" class="text-center"> No Plans Made Yet. Start with the Plus button Above.</h4> -->
        </div>
      </div>
</section>
