<section ng-cloak>
<div class="row titleRow">
  <div class="col-xs-6 col-md-3 col-lg-3">
    <p class="page-title pageTitle uppercase txt-color-blueDark">
      <!-- PAGE HEADER -->
      <a ui-sref = 'home'><i class="mdi md-24 mdi-home"></i></a>
        To-Do List &nbsp;&nbsp;
    </p>
  </div>
  <div class="col-md-offset-3 col-lg-offset-3  col-xs-6 col-md-2 col-lg-2" style="line-height: 45px;">
    Hide Completed
    <a aria-label="Hide Completed" class="" ng-click="toggleHideCompleted()">
        <i class="mdi md-24 mdi-checkbox-blank-outline " ng-if="!hideCompleted"></i>
        <i class="mdi md-24 mdi-checkbox-marked-outline " ng-if="hideCompleted"></i>
    </a>
  </div>
<!-- </div>
<div class="row"> -->
    <div class="col-xs-8 col-md-3 col-lg-3" style="max-width: 240px;">
        <form class="form-inline">
            <div class="form-group" >
                <p style="line-height: 47px; margin: 0px">Category<span>

                <select class="form-control" id="category-selector" ng-model="categorySelected" ng-change="categoryChanged()"
                        ng-options="opt as opt.title for opt in todoCategories" style="max-width: 70%; display: inherit;" >
                        <option value="">All</option>
                    </select>
                </span>
                </p>
            </div>
        </form>
    </div>
    <div class="col-xs-4 col-md-1 col-lg-1 pull-left" style="padding: 0px">
      <md-button aria-label="Add Plan" class="pull-right md-fab md-mini newTodoButton" ng-click="addTodo()" style="margin-top: 0px; margin-bottom: 0px;">
          <i class="mdi md-24 mdi-plus"></i>
      </md-button>
    </div>
</div>
<div class="row">
<div class="col-md-12 todoTableWrapper">
<!-- table begin -->
<div class="todo-smart-table">
<div class="padding-top-20">
<form class="form-inline">
  <label for="items">Show</label>
  <select class="input-sm form-control ng-valid ng-dirty ng-valid-number ng-touched" ng-options = 'num for num in itemsOptions' name="items" id="items" type="number" ng-model="itemsByPage" ng-change="updateSettings()" style="display: inline-block;width: auto;vertical-align: middle;">
    <!-- <option ng-repeat = ""></option> -->
  </select>
<!-- <input class="input-sm form-control ng-valid ng-dirty ng-valid-number ng-touched" name="items" id="items" type="number" ng-model="itemsByPage" ng-change="updateSettings()"> -->
  <label for="items">Rows </label>
</form>
</div>

    <table st-table ="displayedtodos" st-safe-src="todos" class="todo-table display table-striped" ng-class="{'hide_done': hideCompleted}" id="todo-data-table" cellspacing="0" width="100%">
      <thead>
          <tr class="">
          <th st-sort="title" class="" style="min-width: 300px;"><h4>Task <span>
            <!-- <button title="Add Plan" type="button" class="btn btn-default btn-circle pull-right" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus fa-lg txt-color-red"></i>
            </button> -->
          </span></h4></th>
          <th class = "hidden-xs" st-sort="priority"><h4 class="text-center">Priority</h4></th>
          <th class = "hidden-xs" st-sort="category"><h4 class="text-center">Category</h4></th>
          <th class = "hidden-xs" st-sort="assignedTo"><h4 class="text-center">Assigned</h4></th>
          <!-- <th style="max-width: 150px"><h4 class="text-center">Reminder</h4></th> -->
          <th st-sort="due_by" style="max-width: 150px"><h4 class="text-center">Due</h4></th>
          <th class = "hidden-xs" style="min-width: 120px"><h4 class="text-center">Status</h4></th>
        </tr>
        <tr>
          <th colspan="1" class="padding-top-20 todosearch">
            <input st-search="" placeholder="Description" class="input-sm form-control search-bar"/>
          </th>
          <th class="todosearch hidden-xs"></th>
          <th class="padding-top-20 todosearch text-center hidden-xs">
              <select st-search="category" class="capitalize input-sm form-control search-bar">
                  <option value="">All</option>
                  <option ng-repeat="cat in todoCategories" class="" value="{{cat._id}}">{{cat.title}}</option>
              </select>
          </th>
          <th class="padding-top-20 todosearch text-center hidden-xs">
              <select st-search="assignedTo" class="capitalize input-sm form-control search-bar">
                  <option value="">All</option>
                  <option ng-repeat="s in users" class="" value="{{s._id}}">{{s.firstName}}</option>
              </select>
          </th>
          <th class="todosearch hidden-xs"></th>
          <th class="todosearch hidden-xs"></th>
        </tr>
      </thead>
        <tbody>
        <tr ng-repeat='todo in displayedtodos' on-finish-render="ngRepeatFinished" ng-class = "{readonly: todoReadOnly(todo)}">
          <td class="todo-description" ng-class="{'plan_done': todo.active !=1 }" >
            <span ng-if ="isDeletegated(todo)">
              <i class="mdi mdi-checkbox-blank-outline " ng-if="todo.status == 'notStarted'"></i>
              <i class="fa fa-hourglass-2 " ng-if="todo.status == 'started'"></i>
              <i class="mdi mdi-checkbox-marked-outline " ng-if="todo.status == 'finished'"></i>
            </span>
            <a href="#" ng-click="editTodo(todo)"> {{todo.title | limitTo:200 || 'New Task' }}{{todo.title.length > 100 ? '&hellip;' : ''}}</a>

            <a href="#" editable-text="todo.title" buttons="no" edit-disabled= "todoReadOnly(todo)" onbeforesave="updateTodo(todo, $data)"> </a>
          </td>
          <td class="hidden-xs">
          <!-- <p>High</p> -->
          <md-button class="md-icon-button" ng-hide = "todoReadOnly(todo)" aria-label ="Done" ng-click="togglePriority(todo, data)">
              <i class="mdi md-18" ng-class="todo.priority?'mdi-star':'mdi-star-outline'"></i>
            </md-button>
            <!-- <uib-rating ng-model="todo.priority" max=max_priority read-only=todoReadOnly(todo) ng-click="setPriority(todo,value)" aria-labelledby="default-rating"></uib-rating> -->
              <!-- <rating ng-model="todo.priority" max="max_priority" readonly="false" on-hover="" ng-click="setPriority(todo,value)"></rating> -->
          </td>
          <td class="text-center hidden-xs">
           <a href="#" edit-disabled= "todoReadOnly(todo)" editable-select="todo.category" buttons="no" e-ng-options="s._id as s.title for s in todoCategories"
           onbeforesave="updateCategory(todo, $data)">
                        {{ showCategory(todo) }}
           </a>
          </td>
          <td class="text-center hidden-xs">
            <a href="#" edit-disabled= "todoReadOnly(todo)" editable-select="todo.assignedTo" buttons="no" e-ng-options="s._id as s.firstName for s in users"
           onbeforesave="updateAssignedTo(todo, $data)">
                        {{ showUser(todo) }}
            </a>
          </td>

          <!-- <td class="text-center"></td> -->

          <td class="text-center">
            <!-- <md-datepicker ng-model="todo.due_by" ng-disabled = "todoReadOnly(todo)" aria-label="Due Date" ng-change = "updateDueBy(todo)" md-placeholder="Pick a Date"></md-datepicker> -->
                <input ng-disabled = "todoReadOnly(todo)" pikaday="todoDue" ng-model="todo.due_by" ng-change = "updateDueBy(todo)" type="text" class="form-control pull-right date-picker" data-date-type="number" data-autoclose="1" name="due_by" style="max-width: 140px;">

          <!-- <input type="text" name="mydate" placeholder="Pick a Date"
          class="form-control datepicker-input" ng-change="updateDueBy(todo)"
          ng-model="todo.due_by_proxy"><span style="display: none">{{todo.due_by}}</span> -->
          </td>
          <td class="hidden-xs">
            <div class="pull-right edit-controls row-button">
              <md-menu>
              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" ng-class="{reminderSet: isReminderSet(todo)}">
                <i class="mdi md-18 mdi-alarm-plus"></i>
                <!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
            <!-- <md-datepicker ng-if = "todoReadOnly(todo)" ng-model="todo.delegate_reminder" aria-label="remiderDate" ng-change = "updateDueBy(todo)" md-placeholder="Remind on"></md-datepicker> -->

            <input ng-if = "todoReadOnly(todo)" pikaday="todoRemindOn" ng-model="todo.delegate_reminder" aria-label="remiderDate" ng-change = "updateDueBy(todo)" type="text" class="form-control date-picker" name="remind_on" style="max-width: 140px;">

            <!-- <md-datepicker ng-if = "!todoReadOnly(todo)" aria-label="remiderDateAlt" ng-model="todo.reminder" ng-change = "updateDueBy(todo)" md-placeholder="Remind on"></md-datepicker> -->

            <input ng-if = "!todoReadOnly(todo)" pikaday="todoRemindOn" ng-model="todo.reminder" aria-label="remiderDate" ng-change = "updateDueBy(todo)" type="text" class="form-control date-picker" name="remind_on" style="max-width: 140px;">


                </md-menu-item>
              </md-menu-content>
            </md-menu>

              <md-button class="md-icon-button" ng-hide = "todoReadOnly(todo)" aria-label ="Done" ng-click="toggleCheck(todo, data)">
                <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="todo.active != 1"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.active == 1"></i>
              </md-button>

              <md-button class="md-icon-button" ng-show = "todoReadOnly(todo)" aria-label ="Done" ng-click="changeStatus($event, todo)">
                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.status == 'notStarted'"></i>

                <i class="fa fa-hourglass-2 " ng-if="todo.status == 'started'"></i>

                <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="todo.status == 'finished'"></i>

                <md-tooltip ng-if="todo.status != 'started'">Mark Task as 'Wokring'</md-tooltip>
                <md-tooltip ng-if="todo.status == 'started'">Mark Task as Completed</md-tooltip>
              </md-button>

              <md-button class="md-icon-button" ng-disabled = "todoReadOnly(todo)" aria-label ="Delete" ng-click="deleteTodo(todo, data)">
                <i class="mdi md-18 mdi-delete-variant txt-color-red"></i>
              </md-button>

              <md-button class="md-icon-button" ng-disabled = "todoReadOnly(todo)" aria-label =  "Move to .."
              ng-click="copyPalnPopoup(todo)">
                  <i class="mdi md-18 mdi-content-duplicate"></i>
                <md-tooltip>Move to ..</md-tooltip>
              </md-button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
      </tr>
    </tfoot>
    </table>
</div>

    <!-- table end -->
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.articles.$resolved && !vm.articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</div>
</section>
