<td ng-class="{'plan_done': todo.active !=1 }" >
<!-- <a href="#" editable-text="todo.title" buttons="no" onbeforesave="updateTodo(todo, $data)"> </a> -->
{{todo.title || 'New Task' }}
  <div class="pull-right edit-controls">

    <md-button class="md-icon-button" aria-label ="Done" ng-click="toggleCheck(todo, data)">
      <i class="mdi md-18 mdi-checkbox-marked-outline txt-color-blueLight" ng-if="todo.active != 1"></i>
      <i class="mdi md-18 mdi-checkbox-blank-outline txt-color-blueLight" ng-if="todo.active == 1"></i>
    </md-button>


  </div>
</td>
<td>
  <!-- <uib-rating ng-model="todo.priority" max=max_priority read-only="false" ng-click="setPriority(todo,value)" aria-labelledby="default-rating"></uib-rating> -->
    <!-- <rating ng-model="todo.priority" max="max_priority" readonly="false" on-hover="" ng-click="setPriority(todo,value)"></rating> -->
</td>
<td class="text-center">
 <!-- <a href="#" editable-select="todo.category" buttons="no" e-ng-options="s._id as s.title for s in todoCategories"
 onbeforesave="updateCategory(todo, $data)">
 </a> -->
              {{ showCategory(todo) }}
</td>
<td class="text-center">
  <!-- <a href="#" editable-select="todo.assignedTo" buttons="no" e-ng-options="s._id as s.displayName for s in users"
 onbeforesave="updateAssignedTo(todo, $data)">
  </a> -->
              {{ showUser(todo) }}
</td>

<td class="text-center" ng-show="">
  <md-datepicker ng-model="todo.delegate_reminder" ng-change = "updateDueBy(todo)" md-placeholder="Remind on"></md-datepicker>
</td>

<td class="text-center">
  <md-datepicker ng-model="todo.due_by" ng-change = "updateDueBy(todo)" md-placeholder="Pick a Date" disabled></md-datepicker>

<!-- <input type="text" name="mydate" placeholder="Pick a Date"
class="form-control datepicker-input" ng-change="updateDueBy(todo)"
ng-model="todo.due_by_proxy"><span style="display: none">{{todo.due_by}}</span> -->
</td>
