<md-dialog aria-label="New Todo"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Quick Add Todo</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.task.$dirty && nameDialog.task.$invalid]">
            <label class="control-label" for="course">Task:</label>     
            <input type="text" class="form-control" name="task" id="task" ng-model="data.task" autofocus ng-keyup="hitEnter($event)" required>
          </div>
          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.assignedTo.$dirty && nameDialog.assignedTo.$invalid]">
            <label class="control-label" for="course">Assigned To:</label>
            <select class="form-control" name="assignedTo" id="assignedTo" ng-model="data.assignedTo" ng-keyup="hitEnter($event)" required                ng-options="opt as opt.displayName for opt in data.users" ></select>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.category.$dirty && nameDialog.category.$invalid]">
            <label class="control-label" for="course">Category:</label>
            <select class="form-control" name="category" id="category" ng-model="data.category_sel" ng-keyup="hitEnter($event)" required                ng-options="opt._id as opt.name for opt in data.category" ></select>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.due_by.$dirty && nameDialog.due_by.$invalid]">
            <label class="control-label" for="course">Due By:</label>   
            <md-datepicker name="due_by" id="due_by" ng-model="data.due_by" ng-change = "updateDueBy(todo)" md-placeholder="Pick a Date"></md-datepicker>
          </div> -->
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>