<section ng-cloak>
<div class="row">
  <div class="col-md-12 todoDnd">
    <table class="plan-table table table-hover {{ type }}-table">
      <thead>
          <tr class="">
          <th class="{{type}} uppercase" colspan="2"><h5><strong>{{getTypely()}} Plan </strong> <span>
            </span></h5>
          </th>
          <th class="{{type}}">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='(i, todo) in vm.todos' class="report-table-row">
          <td>{{i+1}}</td>
          <td><div class="report-table-row"> {{todo.title}}</div> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
