<section class="row" ng-controller="ChangeProfilePictureController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
    <form class="signin form-horizontal">
      <fieldset>
        <div class="form-group text-center">
          <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
        </div>
        <div class="text-center form-group" ng-hide="uploader.queue.length">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
          </span>
        </div>
        <div class="text-center form-group" ng-show="uploader.queue.length">
          <md-button aria-label = "upload" class="md-raised md-primary" ng-click="uploadProfilePicture();">Upload</md-button>
          <md-button aria-label = "Cancel" class="md-raised" ng-click="cancelUpload();">Cancel</md-button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
