<section>
    <!-- <div class="page-header"> -->
    <div class="row titleRow">
      <div class="col-md-12">
        <p class="pageTitle txt-color-blueDark"><i class="fa-fw fa fa-folder-o"></i> Manage Accounts </p>
      </div>
      <!-- <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div> -->
    </div>
  <!-- </div> -->

<!-- widget grid -->

<div class="row" style="padding-bottom: 20px;">
<div class="col-lg-12 text-center">
  <md-button class="md-primary md-raised" aria-label="New Account" ng-click="vm.createAccount($event)" flex="30" flex-gt-md="auto">
      <i class="fa-lg fa fa-folder-o"></i> &nbsp;Create New Account
    </md-button>
  <md-button class="md-primary md-raised" aria-label="Merge Account" ng-click="vm.mergeAccounts($event)" flex="30" flex-gt-md="auto">
      <i class="mdi mdi-18 mdi-folder-multiple-outline"></i> &nbsp;Merge Accounts
    </md-button>
</div>

</div>

<div class="row ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 admin-table-wrapper">
    <table datatable ="ng" class="table admin-table display" id="user-data-table" cellspacing="0" width="100%">
      <thead>
          <tr class="">
            <th><h4 class=""> Name </h4></th>
            <th style="max-width: 100px;"><h4 class=""> Status </h4></th>
            <th style="max-width: 100px;"><h4 class="text-center"> Type </h4></th>
            <th style="max-width: 100px;"><h4 class="text-center"> Contact </h4></th>
            <th style="max-width: 100px;"><h4 class="text-center"> Email </h4></th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in vm.accounts" style="height: 50px;">
          <td>
          <input ng-bind = "account.selected" type="checkbox" ng-click = "vm.accountSelected(account)">
          <a ng-bind = "account.title" ng-click="vm.editAccount(account)"> </a>
            <!-- <div class="pull-right edit-controls"> -->
            <!-- </div> -->
          </td>
          <td>
            <a class="" aria-label ="Toggle Account Status" ng-click="vm.toggleStatus($event, account)">
              <i class="mdi md-18 mdi-checkbox-marked-outline " ng-if="account.active"></i>
              <i class="mdi md-18 mdi-checkbox-blank-outline " ng-if="!account.active"></i>
            </a> &nbsp; &nbsp;
              <a class="" aria-label ="Delete Account" ng-click="vm.remove(account)">
                  <i class="mdi md-18 mdi-delete-variant"></i>
                  <!-- <i class="fa fa-trash txt-color-red"></i> -->
              </a>
          </td>
          <td> {{vm.showAccountType(account)}}</td>
          <td class="text-center" ng-bind = "account.Admin.firstName"> </td>
          <td class="text-center" ng-bind = "account.Admin.email"> </td>
        </tr>
      </tbody>
    </table>
  </div>
<!--   <div class="alert alert-warning text-center" ng-if="!vm.accounts.length">
    No accounts yet, why don't you <a ui-sref="accounts.create">create one</a>?
  </div> -->
</section>
