<md-dialog aria-label="New Account "  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Account</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountTypeName.$dirty && nameDialog.accountName.$invalid]">
            <label class="control-label" for="course">Account Name:</label>
            <input type="text" class="form-control" name="accountName" id="accountName" md-autofocus ng-model="accountpxy.title" ng-keyup="hitEnter($event)" required>
          </div>
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountType.$dirty && nameDialog.accountType.$invalid]">     
            <label class="control-label" for="course">Account Type:</label>
            <select ng-model="accountpxy.type" aria-label = "accountType" name="accountType" id="accountType" ng-options="accType._id as accType.title for accType in accountTypes">
              <!-- <option ng-repeat="accType in accountTypes" value="{{accountType._id}}">
                {{accountType.title}}
              </option> -->
            </select>
            <!-- {{accountTypeid}} -->
            <!-- <input type="number" class="form-control" name="accountType" id="accountType" ng-model="data.accountType" ng-keyup="hitEnter($event)" required  >  -->
          </div>
          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountPrimaryUser.$dirty && nameDialog.accountPrimaryUser.$invalid]">      -->
            <!-- <label class="control-label" for="course">Primary User's Name:</label> -->
            <!-- <input class="form-control" name="accountPrimaryUser" id="accountPrimaryUser" ng-model="data.accountPrimaryUser" ng-keyup="hitEnter($event)" required  >  -->
          <!-- </div> -->
          <!-- <md-input-container class="md-block" flex-gt-sm>
            <label>Account Type</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container> -->
          <!-- <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountPrimaryEmail.$dirty && nameDialog.accountPrimaryEmail.$invalid]">
            <label class="control-label" for="course">Primary User's Email:</label>
            <input type="email" class="form-control" name="accountPrimaryEmail" id="accountPrimaryEmail" ng-model="data.accountPrimaryEmail" ng-keyup="hitEnter($event)" required>      
          </div> -->
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="save(nameDialog)" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>


<!-- <div class="modal-header">
  <h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> 
  </h4>
</div>
<div class="modal-body">
  
</div>

<div class="modal-footer"> 
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button> <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Save</button>
</div> -->