<md-dialog aria-label="New Account "  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Merge Accounts</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <ng-form name="nameDialog" novalidate role="form">
          <div class="form-group input-group-md" ng-class="{true: 'has-error'}[nameDialog.accountType.$dirty && nameDialog.accountType.$invalid]">     
            <label class="control-label" for="course">Select a Master Account</label>
            <select class="form-control" ng-model="data.masterAccount" aria-label = "masterAccount" name="masterAccount" id="masterAccount" placeholder = "Select a Master Account">
              <option ng-repeat="account in accountOptions" value="{{account._id}}">
                {{account.title}}
              </option>
            </select>
            <p>{{error}}</p>
          </div>
          <p>These accounts will be deleted and the users and data will be merged. </p>
          <ul class="list-unstyled">
            <li ng-repeat = "account in accounts"> {{account.title}} </li>
          </ul>
        </ng-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="save(nameDialog)" style="margin-right:20px;">
        Merge
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>


<!-- <div class="modal-header">
  <h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> 
  </h4>
</div>
<div class="modal-body">
  
</div>

<div class="modal-footer"> 
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button> <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(nameDialog.$dirty && nameDialog.$invalid) || nameDialog.$pristine">Save</button>
</div> -->