<section ng-cloak>
<div class="row titleRow">
  <div class="col-lg-4">
    <p class="pageTitle txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="mdi md-24 mdi-settings"></i>
        Settings &nbsp;&nbsp;
    </p>
  </div>
  <div class="col-lg-4 page-title">

  </div>

</div>

  <div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak>
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="50" flex-gt-md="50" layout>
    <md-whiteframe class="md-whiteframe-3dp spearframe">
      <table class="table settings-table" ng-controller="EditProfileController">
        <thead>
          <tr>
            <th colspan="2"><h5 class="strong">Profile</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2" ng-controller="ChangeProfilePictureController">
                <div class="pull-left" style="width: 150px;">
                      <div class="form-group" style="padding-left: 8px;">
                        <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
                      </div>
                </div>
                <div class="pull-left" style="padding-left: 10px;">
                  <p>
                <a href="#" editable-text="user.firstName" buttons="no" onaftersave="updateUserProfile(user)"><b> {{user.firstName}} </b></a>
                <!-- <a href="#" editable-text="user.lastName" buttons="no" onbeforesave="updateUserProfile(user)"> {{user.lastName ||'Last Name'}} </a> -->

                  <!-- {{user.firstName}} {{user.lastName}} -->
                  </p>
                <a href="#" editable-text="account.title" buttons="no" onaftersave="updateUserProfile(user)"> {{account.title | limitTo: 70 || 'New Account' }} </a>

                <div style="padding: 10px">
                  <form class="signin form-horizontal">
                    <fieldset>
                      <div class=" form-group" ng-hide="uploader.queue.length">
                        <span class="btn btn-default btn-file">
                            Change Image
                            <input type="file" nv-file-select uploader="uploader">
                        </span>
                      </div>
                      <div class="text-center form-group" ng-show="uploader.queue.length">
                        <md-button aria-label = "upload" class="md-raised md-primary" ng-click="uploadProfilePicture();">Upload</md-button>
                        <md-button aria-label = "Cancel" class="md-raised" ng-click="cancelUpload();">Cancel</md-button>
                      </div>
                      <div ng-show="success" class="text-center text-success">
                        <!-- <strong>Profile Picture Changed Successfully</strong> -->
                      </div>
                      <div ng-show="error" class="text-center text-danger">
                        <strong ng-bind="error"></strong>
                      </div>
                    </fieldset>
                  </form>
                </div>
                </div>

            </td>
            <!-- <td> -->
                <!-- <p>{{account.title}}</p> -->
            <!-- </td> -->
          </tr>
          <tr><td colspan="2"> Email:
                <a href="#" editable-text="user.email" buttons="no" onaftersave="updateUserProfile(user)"> {{user.email}}</a>
           </td></tr>
          <tr><td colspan="2">
            <button title="New Password" type="button" class="btn btn-default" ng-click="changePassword()">
                  <!-- <i class="fa fa-fw fa-lock txt-color-black"></i> -->
                      Change Password
                </button>
           </td></tr>
          <tr>
              <td colspan="2">
            <p> <strong> Account Statistics </strong></p>
              </td>
          </tr>
          <!-- <tr>
                <td>Account Created: {{account.created }}</td>

                <td>Account Max Users:  {{account.type.max_users }} </td>
          </tr> -->
          <tr>
                <td>Account Billing Cycle: {{account.type.billing_cycle }}</td>

                <td>Account Type : <a href="#" editable-select="account.type" buttons="no" e-ng-options="s._id as s.title for s in accountTypes"
           onbeforesave="updateAccount(todo, $data)">
                        {{ showAccountType(account) }}</a>
                </td>
          </tr>
        </tbody>
      </table>

      <!-- <div ng-include = "'modules/users/client/views/settings/edit-profile.client.view.html'"></div> -->
    </md-whiteframe>
  </div>
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="50" flex-gt-sm="25" flex-gt-md="25" layout>

     <md-whiteframe class="md-whiteframe-3dp">
        <div class="" ng-controller="UserCalendarController">
        <table class="table settings-table" ng-controller="EditProfileController">
        <thead>
          <tr>
            <th><h5 class="strong">Calendars</h5></th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="">
                <strong> Google Calendar</strong>
                <p style="line-height: 1.1;font-size: xx-small;padding-top: 5px;">Have your daily and weekly plans added to your Google Calendar</p>

                <button title="New Calendar" type="button" class="btn btn-sm btn-default" ng-click="bindAccount()" style="padding: 0;">
                  <i class="fa fa-fw fa-lock txt-color-black"></i>
                      Integrate with Calendar
                </button>
                      <!-- <md-button aria-label="New Calendar" class="md-raised" ng-click="bindAccount()">
                          <i class="fa fa-fw fa-lock"></i>
                           Integrate with Google Calendar
                      </md-button> -->
                </td>
            </tr>
            <tr>
              <td colspan="2"><p><strong> Calendar List </strong></p></td>
              <!-- <td class="text-center"><h4>Status</h4></td> -->
            </tr>
        <tr ng-repeat='cal in calendars'>
          <td style="max-width: 90%;">{{cal.summary|limitTo:25}}{{cal.summary.length > 25 ? '&hellip;' : ''}}</td>
          <td class="number_column row-button " style="width: 20px;">
            <a class="md-icon-button" aria-label ="active" ng-click="toggleStatus(cal, data)">
                <i class="mdi md-18 mdi-checkbox-marked-outline txt-color-blueLight" ng-if="cal.active == 1"></i>
                <i class="mdi md-18 mdi-checkbox-blank-outline txt-color-blueLight" ng-if="cal.active != 1"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
     </md-whiteframe>
     </div>
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="50" flex-gt-sm="25" flex-gt-md="25" layout>
     <md-whiteframe class="md-whiteframe-3dp" ng-controller="EditProfileController">
     <table class="table settings-table categories-table" ng-controller="TodoCategoriesController">
        <thead>
          <tr>
            <th colspan="3"><h5 class="strong">Account</h5></th>
          </tr>
        </thead>
        <tbody >
            <tr><td colspan="3"><p><strong> Days in week</strong>
            <span class="pull-right">
            <a href="#" class="" editable-select="account.days" buttons="no" e-ng-options="s as s for s in daysInWeek"
           onbeforesave="updateAccount(todo, $data)">
                        {{ account.days }}</a>
            </span>
                        </p>  </td></tr>
            <tr><td colspan="3">
            <p><strong> Week starts on </strong>
            <span class="pull-right">
             <a href="#" class="" editable-select="account.weekStart" buttons="no" e-ng-options="s as s for s in weekStratsOn"
           onbeforesave="updateAccount(todo, $data)">
                        {{ account.weekStart }}</a>
            </span>
                        </p>
            </td>
            </tr>
            <tr>
              <td colspan="3">
              <p><strong> Digests </strong>
              <!-- </td>
              <td colspan="2"> -->
              <span style="padding-left:20px;">
                <a class="md-icon-button" aria-label ="active" ng-click="toggleDigest('day', data)">
                  <i class="mdi md-18" ng-class ="user.userDailyReport?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>&nbsp;Daily
              </a>
              </span>
              <span style="padding-left:8px;">
                <a class="md-icon-button" aria-label ="active" ng-click="toggleDigest('week', data)">
                  <i class="mdi md-18" ng-class ="user.userWeeklyReport?'mdi-checkbox-marked-outline':'mdi-checkbox-blank-outline'"></i>&nbsp;Weekly
              </a>
              </span>
              </p>
              </td>
            </tr>
            <tr class="">
                <td class="" colspan="3">
                <p><strong> To-Do Categories </strong>
                 <span>
                  <md-button class="md-icon-button pull-right grey-button" aria-label="Add Success" ng-click ="addTodoCategory()">
                    <i class="mdi md-24 mdi-plus"></i>
                    <md-tooltip>Add Todo Category</md-tooltip>
                  </md-button>

                  <!-- <md-button aria-label="Add Category" class="md-fab md-mini pull-right newTodoButton" ng-click="addTodoCategory()">
                      <i class="fa fa-plus fa-lg"></i>
                  </md-button> -->
                <!-- <button title="Add Category" type="button" class="btn btn-default btn-circle pull-right" ng-click="addTodoCategory()">
                  <i class="fa fa-plus fa-lg txt-color-red"></i>
                </button> -->
                    </span></p>
                </td>
            </tr>
            <!-- </tbody>
            </table>
        <div class="col-lg-12">
            <table>
            <tbody> -->
            <tr ng-repeat='category in todoCategories' on-finish-render="ngRepeatFinished">
                <td class="number_column"> {{ $index + 1 }}</td>
                <td>
                    <a href="" ng-click="editCategory(category)"> {{category.title || 'New Category' }}
                    </a>
                </td>
                <td class="number_column button-col-1 row-button" style="width: 20px;">
                  <!-- <div class="text-center button-col-1 row-button"> -->
                  <a class="md-icon-button" aria-label ="Delete" ng-click="deleteCategory(category)" style="height: 20px;">
                <i class="mdi mdi-delete-variant"></i>
              </a>
              <!-- </div> -->
                </td>
            </tr>
        <!-- </div> -->

        </tbody>
        </table>

</div>
     </md-whiteframe>

  </div>
  </div>

<div layout="row" layout-padding layout-wrap layout-fill style="" ng-cloak ng-if="isUserAdmin()">
  <!-- the second row  here we display the previous spear -->
  <div layout="column" layout-padding layout-wrap layout-fill style="" ng-cloak flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>
  <md-whiteframe class="md-whiteframe-3dp" ng-include="'modules/users/client/views/admin/admin-list-users.client.view.html'"></md-whiteframe>
  </div>
</div>

</section>
