<section class="row" ng-controller="AuthenticationController">

  <div ui-view></div>
  <div class="col-md-12 col-xs-12">    
    <a ng-click="showProviders = !showProviders"><h4 class="text-center">Sign in using your social accounts</h4></a>
  <div class="text-center auth-providers" ng-show=showProviders>
    <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
    <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
    <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
    <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">

    <!-- <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
    <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png"> -->


  </div>
  </div>
</section>
