<div ng-controller="AuthenticationController">
  <!-- <h3 class="col-md-12 text-center">Or with your account</h3> -->
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
  <md-toolbar class="login-toolbar">
        <h2 class="text-center" style="color: white;">Spearity</h2>
  </md-toolbar>
  <div class="signin" >
    <div class="row">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin col-xs-offset-1 col-md-offset-1 col-md-10 col-xs-10" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">Email</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Email" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <md-button aria-label= "submit" type="submit" class="md-raised md-primary">Sign in</md-button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signup">Sign up</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <uib-alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </uib-alert>
      </fieldset>
    </form>
  </div>
  </div>
  </div>
</div>
